// CORE STYLES
@import '_reset/reset';
@import '_reset/print';

// BASE STYLES
@import 'base/variables';
@import 'base/mixins';
@import 'base/core';
@import 'base/utilities';

// EXTERNAL LIBRARIES
@import '../../../node_modules/swiper/swiper';
// @import '../../node_modules/swiper/components/navigation/navigation.scss'; // Import needed modules of swiper too

// CONTENT / COMPONENTS / SECTIONS / TABS / VIEWS
@import 'components/example-section';
@import 'components/swiper-examples';

/* ==================================================================== */
/*                                                                      */
/*    REMOVE THIS BOX and from now on put only @imports to this file    */
/*                                                                      */
body {
	border: 7px dotted $c-white;
	background-image: linear-gradient($c-black, $c-accent);
	color: $c-white;
}
/*                                                                      */
/* ==================================================================== */
