// CORE STYLES
@import '_reset/reset';
@import '_reset/print';

// BASE STYLES
@import 'base/variables';
@import 'base/icomoon';
@import 'base/mixins';
@import 'base/core';
@import 'base/animations';
@import 'base/utilities';

// EXTERNAL LIBRARIES
@import '../../../node_modules/swiper/swiper';
@import '../../../node_modules/swiper/components/pagination/pagination.scss'; // Import needed modules of swiper
// @import '../../node_modules/swiper/components/navigation/navigation.scss'; // Import needed modules of swiper

// CONTENT / COMPONENTS / SECTIONS / TABS / VIEWS
@import 'components/header';
@import 'components/menu-mobile';
@import 'components/menu-desktop';
@import 'components/popup';
@import 'components/footer';
@import 'components/bg-shape';
@import 'components/hero';
@import 'components/hero-desc-image';
@import 'components/hero-slider';
@import 'components/intro';
@import 'components/outro';
@import 'components/partners-listing';
@import 'components/partners-details';
@import 'components/partners-details-form-outro';
@import 'components/founders';
@import 'components/accordion';
@import 'components/featured-slider';
@import 'components/freemode-slider';
@import 'components/freemode-slider-with-images';
@import 'components/logos-slider';
@import 'components/buy-tiles';
@import 'components/news-listing';
@import 'components/news-details';
@import 'components/related-posts';
@import 'components/hero-image-right';
@import 'components/fifty-fifty';
@import 'components/tabs';
@import 'components/sliding-boxes';
@import 'components/latest-news';
@import 'components/centered-content';
@import 'components/features';
@import 'components/solutions-details';
@import 'components/solutions-other';
@import 'components/press-release-news.scss';
@import 'components/press-kit.scss';
@import 'components/editorial.scss';
@import 'components/contact.scss';
@import 'components/contact-company.scss';
@import 'components/become-a-partner';
@import 'components/podcast-details';
@import 'components/podcast-listing';
@import 'components/subscribe';
@import 'components/featured-podcast';
@import 'components/podcasts-hero';
@import 'components/press-publication';
@import 'components/product-hero';
@import 'components/product-features';
@import 'components/product-features-v2';
@import 'components/product-other';
@import 'components/accordion-text';
@import 'components/products-hero';
@import 'components/page404';
@import 'components/video';
@import 'components/video-modal';
@import 'components/privacy-content';
@import 'components/hubspot-forms';
@import 'components/careers-listing';
@import 'components/single-career';
@import 'components/login-tiles';
@import 'components/carousel';
@import 'components/text-and-photo';
@import 'components/text-photo';
@import 'components/videos';
@import 'components/form';
@import 'components/process';
@import 'components/two-boxes';
@import 'components/partners-slider';
@import 'components/cards';
@import 'components/video-text';
@import 'components/fifty-fifty-v2';
@import 'components/comparison-table';
@import 'components/sticky-text';
@import 'components/search-form';
@import 'components/search-bar';
@import 'components/search-results';
@import 'components/events-slider';
@import 'components/events-listing';
@import 'components/event-details';
@import 'components/title-switcher';
@import 'components/kit-contents';
@import 'components/header-popup';
@import 'components/cookies-box';
@import 'components/latest-podcasts';
@import 'components/algolia-hq';
@import 'components/sticky-title-text';
@import 'components/content-two-columns-v2';
@import 'components/bb-applications';
@import 'components/bb-implementing';
