*/.DS_Store
wiliot-staging.sql
.DS_Store
.env
.env.example
.idea
.stylelintcache
package-lock.json
yarn.lock
composer.lock
cpresources
/cpresources
/vendor
/node_modules
/storage/backups
/storage/composer-backups
/storage/config-deltas
/storage/logs
/storage/runtime/cache
/storage/runtime/compiled_classes
/storage/runtime/compiled_templates
/storage/runtime/composer
/storage/runtime/CSS
/storage/runtime/mutex
/storage/runtime/temp
/storage/runtime/URI
/storage/runtime/assets/icons
/storage/runtime/assets/imageeditor
/storage/runtime/assets/sources
/storage/runtime/assets/tempuploads
/dist
/web/src/uploads/
/web/src/css/*
!/web/src/css/comeet-form-style.css
/web/src/js/main.min.js
/web/src/js/main.min.js.map
/web/cpresources
