*/.DS_Store
*.sql
.DS_Store
.env
.env.example
.idea
.stylelintcache
package-lock.json
yarn.lock
composer.lock
cpresources
/cpresources
/vendor
/node_modules
/storage
/dist
/web/src/css
/web/src/js/main.min.js
/web/src/js/main.min.js.map
/web/cpresources
