.u-section--accordion {
	&.is-top-section {
		margin-top: 194px;
	}

	.u-wrapper {
		max-width: 1032px;
	}
}

.accordion {
	&__main-title {
		font-size: 32px;
		font-weight: 900;
	}

	&__list {
		margin-top: 50px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		cursor: pointer;
		padding: 32px 0 24px;
		border-bottom: 1px solid #D7D7DE;

		@include tablet-small {
			padding: 30px 0;
		}

		&:hover {
			.item-title {
				opacity: 0.5;
			}
		}

		&.is-active {
			&:hover {
				.item-title {
					opacity: 1;
				}
			}

			.item-arrow {
				transform: rotate(0);
			}

			.item-content {
				display: block;
			}
		}

		&.is-title-only {
			pointer-events: none;
			margin-top: 30px;
			border-bottom: 0;

			.item-title {
				font-size: 28px;
			}
		}

		.item-arrow {
			position: absolute;
			top: 38px;
			left: 0;
			width: auto;
			height: 20px;
			transform: rotate(180deg);

			@include tablet-big-1365 {
				left: 0;
			}

			@include tablet-small {
				top: 36px;
			}

			@include mobile-767 {
				left: 16px;
			}
		}

		.item-title {
			padding-left: 36px;
			font-size: 24px;
			font-weight: 900;
			letter-spacing: -0.5px;
			line-height: 1.5;
			transition: opacity 0.2s;

			@include tablet-big-1365 {
				padding-left: 32px;
			}

			@include mobile-767 {
				padding-right: 30px;
				padding-left: 64px;
				font-size: 18px;
			}
		}

		.item-content {
			display: none;
			margin-top: 10px;
			padding-left: 0;
		}

		.item-text {
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;

			a {
				color: $c-accent;
				font-weight: 400;
				transition: opacity 0.2s;

				&:hover {
					opacity: 0.7;
				}
			}
		}

		.item-btn {
			display: block;
			padding-top: 10px;

			.text {
				font-weight: 900;

				&::before {
					top: -4px;
					right: -24px;
					font-size: 14px;
				}
			}
		}
	}
}
