.u-section--algolia-hq {
	padding-top: 40px;
	padding-bottom: 128px;

	.u-wrapper {
		&--not-logged {
			display: block;
		}

		&--logged {
			display: none;
		}
	}

	&.is-logged {
		.u-wrapper {
			&--not-logged {
				display: none;
			}

			&--logged {
				display: block;
			}
		}
	}
}

.algolia-hq__items-hld {
	&:not(:first-child) {
		margin-top: 56px;
	}
}

.algolia-hq__items-title {
	display: block;
	font-size: 32px;
	font-weight: 700;
}

.algolia-hq__items {
	margin-top: 24px;

	a {
		color: $c-accent;
	}
}

.algolia-hq__item {
	&:not(:first-child) {
		margin-top: 8px;
		padding-top: 8px;
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	}

	.btns {
		button {
			position: relative;
			cursor: pointer;
			border: 0;
			outline: 0;
			background-color: transparent;

			&.is-ok {
				color: $c-success;
			}

			&.is-danger {
				color: $c-error;
			}

			&:not(:first-child) {
				margin-left: 16px;

				&::before {
					content: '|';
					position: absolute;
					top: -1px;
					left: -12px;
					pointer-events: none;
					color: $c-gray;
					font-size: 11px;
				}
			}
		}
	}
}

.algolia-hq__actions {
	display: flex;
	grid-gap: 12px;
	margin-top: 32px;

	input {
		padding: 10px 14px 8px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 4px;
	}

	button {
		cursor: pointer;
		padding: 10px 14px 8px;
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		background-color: transparent;

		&:hover {
			border-color: $c-accent;
			background-color: $c-accent;
			color: #fff;
		}

		&.is-danger {
			border-color: $c-error;
			background-color: $c-error;
			color: #fff;

			&:hover {
				border-color: darken($c-error, 10%);
				background-color: darken($c-error, 10%);
			}
		}
	}
}
