.u-section--bb-implementing {
	+ .u-section--content-two-columns-v2 {
		padding-top: 128px;
		border-top: 1px solid #D7D7DE;

		.u-wrapper {
			max-width: 900px;
		}
	}
}

.bb-implementing {
	strong {
		color: $c-accent;
		font-weight: 400;
	}

	br {
		content: '';
		display: block;
		margin-top: 14px;
	}

	p {
		margin-top: 14px;
	}

	&__main-text {
		margin-top: 22px;
	}

	&__columns-hld-top {
		display: flex;
		margin-top: 80px;
	}

	&__columns-top-item {
		cursor: pointer;
		width: 100%;
		padding-bottom: 4px;
		border-bottom: 1.5px solid #DBDBDB;
		transition: border-color 0.2s;

		&:nth-of-type(2):nth-last-of-type(2) {
			width: 90%;
		}

		&:hover,
		&.is-active {
			border-color: #707070;

			.item-number {
				color: $c-accent;
			}
		}

		.item-number {
			color: #C7C7C7;
			font-size: 40px;
			font-weight: 900;
			text-align: center;
			transition: color 0.2s;
		}

		.item-title {
			margin-top: 12px;
			text-align: center;
		}
	}

	&__columns-hld-bottom {
		margin-top: 42px;
	}

	&__columns-bottom-item {
		display: none;

		&.is-active {
			display: block;
		}
	}
}
