.u-section--become-a-partner {
	margin-top: 0;
	padding-top: 220px;
	padding-bottom: 200px;
	overflow: hidden;
}

.become-a-partner {
	&__text-hld {
		text-align: center;
	}

	&__title {
		max-width: 400px;
		margin-top: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	&__steps-hld {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 55px;
		padding: 0 110px;
		transition: opacity 0.2s;
		opacity: 0;

		.is-iframe-form-visible & {
			opacity: 1;
		}

		@include mobile-767 {
			padding: 0;
		}

		.step {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 32px;
			height: 32px;
			padding-top: 2px;
			border: 1px solid rgba($c-gray, 0.5);
			border-radius: 50%;
			color: rgba($c-black, 0.5);
			transition: background-color 0.2s, border 0.2s;

			.text {
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 19px;
				transition: opacity 0.2s;
			}

			.icon {
				position: absolute;
				top: 8px;
				left: 7px;
				font-size: 17px;
				transition: opacity 0.2s;
				opacity: 0;
			}

			&:not(:last-of-type) {
				&::after {
					content: '';
					position: absolute;
					top: 15px;
					right: -85px;
					pointer-events: none;
					width: 77px;
					height: 1px;
					background-color: rgba($c-gray, 0.5);

					@include mobile-767 {
						right: -105px;
						width: 50px;
					}

					@include mobile-599 {
						display: none;
					}
				}
			}

			&--1 {
				.is-step-1-active & {
					border: 0;
					background-color: $c-accent;
					color: $c-white;
				}

				.is-step-1-done & {
					.text {
						opacity: 0;
					}

					.icon {
						opacity: 1;
					}
				}
			}

			&--2 {
				.is-step-2-active & {
					border: 0;
					background-color: $c-accent;
					color: $c-white;
				}

				.is-step-2-done & {
					.text {
						opacity: 0;
					}

					.icon {
						opacity: 1;
					}
				}
			}

			&--3 {
				.is-step-3-active & {
					border: 0;
					background-color: $c-accent;
					color: $c-white;
				}

				.is-step-3-done & {
					.text {
						opacity: 0;
					}

					.icon {
						opacity: 1;
					}
				}
			}

			&--4 {
				.is-step-4-active & {
					border: 0;
					background-color: $c-accent;
					color: $c-white;
				}

				.is-step-4-done & {
					.text {
						opacity: 0;
					}

					.icon {
						opacity: 1;
					}
				}
			}
		}
	}

	&__form-hld {
		margin-top: 75px;
		transition: opacity 0.2s;
		opacity: 0;

		.is-iframe-form-visible & {
			opacity: 1;
		}
	}

	&__form {
		padding: 80px 110px 95px;
		background-color: $c-accent-dark;

		.is-step-3-active & {
			padding: 80px 30px 95px;

			@include mobile-599 {
				padding: 50px 30px 50px;
			}
		}

		@include mobile-599 {
			padding: 50px 30px 50px;
		}

		iframe {
			width: 100% !important;
		}
	}
}

.is-multistep-form {
	.hs-form,
	.hbspt-form {
		h2 {
			color: $c-white !important;
			font-family: $font-head !important;
			font-size: 24px;
			font-weight: 700 !important;
			letter-spacing: 0 !important;
			line-height: 36px !important;
			text-align: center !important;
		}
	
		.hs-firstname,
		.hs-company {
			margin-top: 65px;
		}

		.hs-message,
		.hs_partner_directory_integration {
			padding-top: 45px;

			label {
				font-family: $font-head !important;

				span {
					padding-left: 0;
				}
			}

			legend {
				margin-top: 35px !important;
				color: rgba($c-white, 0.8) !important;
				font-family: $font-head !important;
				font-size: 13px !important;
				font-weight: 300 !important;
				letter-spacing: 0 !important;
				line-height: 19px !important;
			}

			textarea {
				height: 55px !important;
				padding: 25px 5px !important;
				border: 0 !important;
				border-bottom: 1px solid rgba($c-white, 0.8) !important;
				border-radius: 0 !important;
				background-color: transparent !important;
				color: $c-white !important;
				font-family: $font-head !important;
				font-size: 16px !important;
				letter-spacing: 0 !important;
				line-height: 26px !important;
				resize: none !important;

				&::placeholder {
					color: rgba($c-white, 0.8) !important;
				}

				&::-moz-placeholder {
					color: rgba($c-white, 0.8) !important;
				}

				&:hover,
				&:focus {
					border-bottom: 1px solid rgba($c-white, 0.8) !important;
				}
			}
		}

		.hs_submit {
			margin-top: 60px;
			text-align: center;

			input {
				display: block;
				cursor: pointer;
				margin: 0 auto;
				padding: 16px 75px 14px;
				border: 1px solid rgba($c-white, 0.6);
				border-radius: 28px;
				background: $c-white;
				color: $c-accent;
				font-family: $font-head !important;
				font-size: 16px;
				font-weight: 500;
				line-height: 26px;
				text-align: center;
				transition: 0.2s;

				&:hover,
				&:active,
				&:focus {
					padding: 16px 75px 14px !important;
					border: 1px solid rgba($c-white, 0.6) !important;
					border-radius: 28px !important;
					border-color: $c-accent !important;
					background-color: $c-accent !important;
					color: $c-white !important;
					font-family: $font-head !important;
					font-size: 16px !important;
					font-weight: 500 !important;
					line-height: 26px !important;
				}
			}
		}

		.submitted-message {
			color: $c-white !important;
			font-family: $font-head !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			letter-spacing: 0 !important;
			line-height: 26px !important;
			text-align: center !important;
		}

		.hs_partner_directory_type,
		.hs_partner_type_from_form_ {
			margin-bottom: 0 !important;

			> label {
				position: absolute;
				top: -50px;
				left: 0;

				span {
					margin: 0 !important;
					padding: 0 !important;
					color: rgba($c-white, 0.8);
					font-family: $font-head !important;
					font-size: 16px !important;
					font-weight: 500 !important;
					line-height: 26px !important;
				}
			}

			.hs-form-checkbox {
				margin-top: 12px;
			}

			.inputs-list {
				margin: 0 !important;
				margin-top: 95px !important;
				padding: 0 !important;
			}

			input {
				width: 16px !important;
				height: 16px !important;
				min-height: unset !important;
				margin: 0 !important;
				padding: 0 !important;
				padding-left: 0 !important;
				border: 1px solid $c-white !important;
				border-bottom: 1px solid $c-white !important;
				border-radius: 2px !important;
				background: transparent !important;
				color: $c-accent !important;
				font-family: $font-head !important;
				font-size: 16px !important;
				font-weight: 500 !important;
				line-height: 26px !important;
				transition: border-color 0.2s, background-color 0.2s;
				-webkit-appearance: checkbox !important;
				appearance: checkbox !important;
			}

			span {
				display: inline-block !important;
				margin-left: 10px;
				color: rgba($c-white, 0.8) !important;
				font-family: $font-head !important;
				font-size: 13px !important;
				font-weight: 300 !important;
				letter-spacing: 0 !important;
				line-height: 20px !important;
				transform: translateY(-3px) !important;
			}
		}

		.hs_partner_type_from_form_ {
			> label {
				display: none !important;
			}

			.inputs-list {
				display: flex !important;
				flex-wrap: wrap !important;
				margin-top: 40px !important;	

				.hs-form-checkbox {
					width: 50%;
					padding-left: 60px !important;
				}
			}
		}
	}
}
