.u-section--buy-tiles {
	margin-top: 0;
	padding-top: 260px;
	padding-bottom: 100px;
	overflow: hidden;

	@include tablet-small-1023 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.buy-tiles {
	&__text-hld {
		.title {
			margin-top: 15px;
		}
	}

	&__tiles-hld {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(410px, 0.6fr));
		grid-gap: 25px;
		margin-top: 90px;

		@include media-max(475) {
			grid-template-columns: minmax(250px, 1fr);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding: 50px 45px 65px;
		border-radius: 6px;
		background-color: $c-white;
		box-shadow: $box-shadow;
		text-align: center;

		@include media-max(475) {
			padding: 30px 15px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			width: 100%;
			height: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background-image: linear-gradient(to right, $c-green, $c-accent-light);
			transition: opacity 0.35s;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			width: 100%;
			height: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background-image: linear-gradient(to right, $c-orange, $c-yellow);
			transform-origin: right;
			transition: opacity 0.35s;
			opacity: 0;
		}

		&:hover {
			&::before {
				opacity: 0;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	.item {
		&__icon {
			svg {
				path {
					transition: stroke 0.35s, fill 0.35s;
				}
			}
		}

		&__title {
			margin-top: 40px;
			font-size: 24px;
			font-weight: 900;
			line-height: 36px;

			@include media-max(475) {
				margin-top: 20px;
			}
		}

		&__description {
			margin-top: 25px;
			margin-bottom: 40px;

			@include media-max(475) {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			&--bottom {
				position: relative;
				margin-top: 40px;

				&::before {
					content: '';
					position: absolute;
					top: -20px;
					left: 50%;
					pointer-events: none;
					width: calc(100% - 170px);
					height: 1px;
					background-color: $c-border;
					transform: translateX(-50%);
				}
			}

			.modal-btn {
				cursor: pointer;
				transition: opacity 0.2s;

				&:hover {
					opacity: 0.7;
				}
			}
		}

		&__btn {
			min-width: 192px;
			margin-top: auto;
		}

		&:last-of-type {
			&:hover {
				svg {
					path {
						fill: $c-orange;
						stroke: inherit;
					}
				}
			}
		}

		&:hover {
			svg {
				path {
					stroke: $c-orange;
				}

				#Buy-Page-circles {
					#Oval {
						stroke: $c-accent;
					}
				}
			}
		}
	}
}
