.u-section--cards {
	padding-bottom: 76px;
	background-image: linear-gradient(180deg, #FFFFFF 0%, #F5F6FD 100%);

	.is-page-redirection-kit-pages & {
		margin-top: 128px;
		padding-bottom: 128px;
	}

	.cards {
		&__subtitle {}

		&__title {
			margin-bottom: 72px;
		}

		&__hld {
			display: grid;
			justify-content: center;
			grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
			grid-gap: 24px;

			.is-page-redirection-kit-pages & {
				grid-template-columns: repeat(auto-fit, minmax(300px, 408px));
			}
		}

		&__item {
			height: fit-content;
			padding-bottom: 6px;
			border-radius: 6px;
			background-color: $c-white;
			box-shadow: 0 0 10px 0 rgba(134, 134, 183, 0.15);

			&:first-child {
				.img-hld {
					.is-page-redirection-kit-pages & {
						background-color: #D1F5F5;
					}
				}
			}

			&.is-coming-soon {
				.img-hld {
					.coming-soon-label {
						display: flex;
					}
				}
			}

			.img-hld {
				position: relative;
				width: 100%;
				height: auto;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				overflow: hidden;

				img {
					width: 100%;
					height: auto;
				}

				.coming-soon-label {
					display: none;
					align-items: center;
					justify-content: center;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 146px;
					height: 32px;
					background-color: $c-accent;

					.text {
						color: $c-white;
						font-size: 12px;
						font-weight: 500;
						letter-spacing: 0;
						line-height: calc(16 / 12);
						text-transform: uppercase;
						transform: translateY(2px);
					}
				}

				.is-page-redirection-kit-pages & {
					height: 300px;
					background-color: #CEE8E7;

					img {
						width: auto;
						height: 100%;
						margin-right: auto;
						margin-left: auto;
					}
				}
			}

			.text-hld {
				height: auto;
				padding-top: 16px;
				padding-bottom: 10px;
				padding-left: 14px;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				background-color: $c-white;

				.name {
					// min-height: 56px;
					padding-right: 20px;
					font-size: 24px;
					font-weight: 900;
					letter-spacing: 0;
					line-height: calc(36 / 24);
				}

				.price {
					color: rgba($c-black, 0.8);
					font-size: 16px;
					font-weight: 400;
					line-height: calc(26 / 16);
				}

				.description {
					max-width: 284px;
					margin-top: 4px;
					padding-right: 16px;
					color: rgba($c-black, 0.8);
					font-size: 14px;
					font-weight: 900;
					letter-spacing: 0;
					line-height: calc(20 / 14);
				}

				.content-hld {
					position: relative;
					cursor: pointer;
					margin-top: 40px;
					transition: opacity 0.2s;

					&:hover {
						opacity: 0.7;
					}

					&::before {
						content: '';
						position: absolute;
						top: -18px;
						left: 0;
						pointer-events: none;
						width: calc(100% - 20px);
						height: 1px;
						background-color: $c-border;
					}

					.title {
						padding-bottom: 6px;

						.text {
							font-weight: 500;
						}

						.icon {
							&-dropdown-down {
								display: inline-block;
								margin-left: 3px;
								font-size: 12px;
								transition: transform 0.2s;
							}
						}
					}

					.content {
						max-height: 0;
						transition: max-height 0.5s;
						overflow: hidden;

						ul {
							padding-right: 36px;

							li {
								position: relative;
								padding-left: 16px;
								font-size: 14px;

								&:not(:first-child) {
									margin-top: 6px;
								}

								&::before {
									content: '';
									position: absolute;
									top: 10px;
									left: 0;
									pointer-events: none;
									width: 4px;
									height: 4px;
									border-radius: 50%;
									background-color: $c-accent;
								}
							}
						}
					}

					&.is-active {
						.icon {
							&-dropdown-down {
								transform: rotate(-180deg);
								transition: transform 0.2s 0.025s;
							}
						}

						.content {
							max-height: 2000px;
							transition: max-height 1s;
						}
					}
				}

				.btn {
					min-width: 270px;
					margin-top: 24px;
					text-align: center;
				}
			}
		}

		&__bottom {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-top: 40px;

			.btn {
				min-width: 200px;
				margin: 10px;
				padding: 16px 35px 13px;
				text-align: center;
			}
		}
	}
}

@include tablet-small {
	.u-section--cards {
		.bg-shape {
			display: none;
		}
	}
}
