.site-cookie-box-hld {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 501;
	width: 100%;
	padding: 32px 16px;
	border-top: 1px solid rgba($c-gray, 0.15);
	background-color: $c-light;

	&:not(.is-active) {
		display: none;
	}
}

.site-cookie-box {
	display: flex;
	align-items: center;
	max-width: 1272px;
	margin-right: auto;
	margin-left: auto;
}

.site-cookie-box__text-hld {
	max-width: 948px;
	margin-right: 32px;
}

.site-cookie-box__title {
	display: block;
	color: $c-black;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0;
	line-height: calc(36 / 24);

	& + .site-cookie-box__content {
		margin-top: 12px;
	}
}

.site-cookie-box__content {
	color: rgba($c-black, 0.8);
	font-size: 16px;
	font-weight: 400;
	letter-spacing: calc(-0.1em / 16);
	line-height: calc(26 / 16);

	p {
		&:not(:first-child) {
			margin-top: 8px;
		}
	}

	a {
		text-decoration: underline;
		transition: color 0.2s;

		&:hover {
			color: $c-accent;
		}
	}
}

.site-cookie-box__btn-hld {
	margin-left: auto;
}

.site-cookie-box__btn {
	min-width: 192px;
}

@include media-max(550) {
	.site-cookie-box-hld {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.site-cookie-box {
		flex-direction: column;
	}

	.site-cookie-box__text-hld {
		margin-right: 0;
		text-align: center;
	}

	.site-cookie-box__title + .site-cookie-box__content {
		margin-top: 8px;
	}

	.site-cookie-box__title {
		font-size: 20px;
	}

	.site-cookie-box__content {
		font-size: 14px;
	}

	.site-cookie-box__btn-hld {
		margin-top: 16px;
		margin-right: auto;
		margin-left: auto;
	}
}
