.u-section--event-details {
	margin-top: 100px;
	margin-bottom: 128px;
	padding-top: 28px;
}

.event-details {
	&__author-info-hld {
		display: flex;
		align-items: center;

		.box {
			&--author-image-hld {
				width: 50px;
				height: 50px;
				margin-right: 10px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}

			&--author-name-date-hld {
				font-size: 14px;

				@include mobile-small {
					font-size: 12px;
				}
			}
		}
	}
}

.event-details__hero {
	position: relative;
	margin-top: -128px;
	padding-top: 224px;
	padding-bottom: 72px;
	background: radial-gradient(45.23% 45.23% at 98.7% -7.48%, #F5F5FC 0%, #F5F9FC 100%);
	overflow: hidden;
}

.event-details__hero-blur {
	position: absolute;
	bottom: 0;
	left: calc(50% - 680px);
	z-index: 0;

	img {
		display: block;
		width: 952px;
		height: auto;
	}
}

.event-details__hero-text-hld {
	position: relative;
	z-index: 1;
}

.event-details__hero-subtitle {
	display: block;
	max-width: 624px;
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 500;
	line-height: calc(32 / 24);
}

.event-details__hero-title {
	display: block;
	max-width: 624px;
	color: $c-black;
	font-size: 56px;
	font-weight: 900;
	line-height: calc(72 / 56);
}

.event-details-hld {}

.event-details__img-hld {
	position: relative;
	height: 440px;
}

.event-details__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.event-details-title-hld {
	display: flex;
	position: relative;
	margin-top: 40px;
}

.event-details-title {
	display: block;
	width: calc(100% - 132px - 408px);
	color: $c-black;
	font-size: 56px;
	font-weight: 900;
	line-height: calc(72 / 56);
}

.event-details-share {
	display: flex;
	align-items: center;
	position: absolute;
	top: 12px;
	right: 0;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 38px;
		height: 37px;
		margin-right: 16px;
		border: 1px solid rgba(#979797, 0.4);
		border-radius: 50%;

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			.icon {
				opacity: 0.5;
			}
		}

		.icon {
			color: $c-black;
			font-size: 13px;
			transition: opacity 0.3s;
		}
	}
}

.event-details-main {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;

	&--no-image {
		margin-top: 64px;
	}
}

.event-details-content {
	width: calc(100% - 132px - 408px);
}

.event-details-content-inner {
	padding-bottom: 32px;
	border-bottom: 1px solid $c-border;

	&--landing-page {
		padding-bottom: 0;
		border-bottom: none;
	}
}

.event-details-info {
	position: relative;
	padding-bottom: 32px;
	border-bottom: 1px solid $c-border;

	& + .event-details__content {
		padding-top: 32px;
	}
}

.event-details__labels {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 6px;
}

.event-details__label {
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 5px 12px 3px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: 500;
	line-height: calc(16 / 12);

	&--dark {
		background-color: $c-accent-dark;
		color: $c-white;
	}

	&--medium {
		background-color: $c-accent;
		color: $c-black;
	}

	&--medium-light {
		background-color: $c-accent;
		color: $c-white;
	}

	&--light {
		background-color: $c-blue-green-strong;
		color: $c-black;
	}

	&--very-light {
		background-color: $c-blue-light-green;
		color: $c-black;
	}
}

.event-details__length {
	margin-left: auto;
	color: $c-black;
	font-size: 14px;
	font-weight: 500;
	line-height: calc(24 / 14);

	&--reading-time {
		text-transform: uppercase;
	}
}

.event-details__time {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;

	&--landing-page {
		align-items: center;
		justify-content: space-between;
	}
}

.event-details__time {
	display: flex;
	align-items: center;
	margin-top: 12px;
	margin-right: 12px;
	color: $c-black;
	font-size: 24px;
	font-weight: 500;
	line-height: calc(36 / 24);

	svg {
		display: block;
		position: relative;
		top: -2px;
		width: 16px;
		height: 16px;
		margin-right: 10px;
	}
}

.event-details__place {
	display: flex;
	align-items: center;
	margin-top: 12px;
	color: $c-black;
	font-size: 24px;
	font-weight: 300;
	line-height: calc(36 / 24);

	img {
		position: relative;
		top: -2px;
		left: -1px;
		margin-right: 8px;
	}
}

.event-details__content {}

.event-details__video-hld {
	position: relative;
	cursor: pointer;
	height: fit-content;
	margin-top: 48px;

	&:hover {
		.icon {
			color: rgba($c-white, 0.75);
		}
	}

	&.is-before-play {
		.event-details__video-placeholder {
			display: block;
		}

		video {
			opacity: 0;
		}
	}

	video {
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		height: auto;
		border-radius: 6px;
		object-fit: cover;
	}

	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		pointer-events: none;
		color: $c-white;
		font-size: 172px;
		transform: translate(-50%, -50%);
		transition: opacity 0.2s, color 0.2s;
		opacity: 0;
	}

	&.is-paused {
		.icon {
			opacity: 1;
		}
	}
}

.event-details__video-placeholder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.event-details-speakers-hld {
	margin-top: 48px;
}

.event-details-speakers-title {
	display: block;
	color: $c-black;
	font-size: 24px;
	font-weight: 900;
	line-height: calc(36 / 24);
}

.event-details-speakers {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -24px;

	&:not(:first-child) {
		margin-top: 24px;
	}
}

.event-details-speaker {
	position: relative;
	width: 100%;
	max-width: 168px;
	margin-right: 40px;
	margin-bottom: 24px;

	&--with-photo {
		max-width: 216px;
		padding-left: 48px;
	}
}

.event-details-speaker__photo-hld {
	position: absolute;
	top: 3px;
	left: 0;
}

.event-details-speaker__photo {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.event-details-speaker__name {
	display: block;
	color: rgba($c-black, 0.8);
	font-size: 14px;
	font-weight: 500;
	line-height: calc(19 / 14);
}

.event-details-speaker__position {
	display: block;
	margin-top: 4px;
	color: $c-gray;
	font-size: 14px;
	font-weight: 500;
	line-height: calc(19 / 14);
}

.event-details-sidebar {
	width: 408px;
}

.event-details-sidebar-box {
	position: relative;
	padding: 54px 24px 48px;
	border-radius: 6px;
	background-color: $c-white;
	box-shadow: 0 0 10px 0 rgba(134, 134, 183, 0.15);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
		border-radius: 6px 6px 0 0;
		background: linear-gradient(to right, #5CE3B3 0%, #44F3F3 100%);
	}

	&--sticky {
		position: sticky;
		top: 140px;
	}
}

.event-details-sidebar-box__title {
	display: block;
	color: $c-black;
	font-size: 32px;
	font-weight: 900;
	line-height: calc(40 / 32);
	text-align: center;

	& + .event-details-sidebar-box__text {
		margin-top: 8px;
	}
}

.event-details-sidebar-box__text {
	display: block;
	color: rgba($c-black, 0.8);
	font-size: 16px;
	font-weight: 500;
	line-height: calc(26 / 16);
	text-align: center;
}

.event-details-sidebar-box__btn-hld {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

.event-details-sidebar-box__btn {}

.event-details-form {
	margin-top: 40px;
}

.u-section--related-events {
	margin-bottom: 96px;
}

.related-events-hld {}

.related-events__subtitle {
	& + .related-events__title {
		margin-top: 16px;
	}
}

.related-events__title {}

.related-events {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0 24px;
	margin-top: 48px;
}

@include tablet-big {

	.event-details__hero {
		padding-top: 184px;
		padding-bottom: 56px;
	}

	.event-details__hero-subtitle {
		font-size: 20px;
	}

	.event-details-title,
	.event-details__hero-title {
		font-size: 36px;
	}

	.event-details-content,
	.event-details-title {
		width: calc(100% - 64px - 368px);
	}

	.event-details-sidebar {
		width: 368px;
	}
}

@include tablet-small {
	.event-details__img-hld {
		height: auto;
	}

	.event-details__img {
		position: relative;
		height: auto;
	}

	.event-details-title-hld {
		flex-direction: column-reverse;
	}

	.event-details-title {
		width: 100%;
	}

	.event-details-share {
		position: relative;
		top: 0;
		margin-bottom: 24px;
	}

	.event-details-main {
		flex-direction: column;
	}

	.event-details-content {
		width: 100%;
		border-bottom: 0;
	}

	.event-details__length {
		margin-left: 0;
	}

	.event-details-sidebar {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: 48px;
	}

	.event-details-sidebar-box {
		width: 100%;
		max-width: 408px;
	}

	.related-events {
		.event-item__excerpt {
			display: none;
		}
	}
}

@include mobile {

	.event-details__hero {
		margin-top: -88px;
		padding-top: 128px;
		padding-bottom: 40px;
	}

	.event-details-title {
		font-size: 32px;
	}

	.event-details__date,
	.event-details__time,
	.event-details__place {
		font-size: 16px;
	}

	.event-details-speakers {
		margin-bottom: 0;
	}

	.event-details-speaker {
		max-width: none;
		margin-right: 0;
		margin-bottom: 0;

		&:not(:first-child) {
			margin-top: 16px;
		}
	}

	.event-details-sidebar-box__title {
		font-size: 24px;
	}

	.u-section--event-details {
		margin-bottom: 96px;
	}

	.related-events {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 32px 0;
		margin-top: 40px;
	}
}

@include mobile-small {
	.event-details-sidebar-box {
		padding-right: 16px;
		padding-left: 16px;
	}
}
