.u-section--events-slider {}

.events-slider-hld {}

.events-slider__subtitle {}

.events-slider__title {}

.events-slider {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0 24px;
	margin-top: 56px;
}

.events-slider__btn-hld {
	display: flex;
	justify-content: center;
	margin-top: 48px;
}

@include tablet-small {
	.u-section.u-section--events-slider {
		margin-top: 128px;
	}

	.events-slider {
		.event-item__excerpt {
			display: none;
		}
	}
}

@include mobile {
	.u-section.u-section--events-slider {
		margin-top: 96px;
	}

	.events-slider {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 32px 0;
		margin-top: 40px;
	}
}
