.u-section--fifty-fifty-v2 {
	.u-wrapper {
		max-width: 1332px;
	}

	+ .u-section--logos-slider {
		margin-top: 130px;

		@include mobile-767 {
			margin-top: 60px;
		}
	}
}

.fifty-fifty-v2 {
	&__subtitle {
		display: block;
		text-align: center;
	}

	&__title {
		margin-top: 14px;
		text-align: center;

		@include mobile-767 {
			font-size: 28px;
			line-height: 1.3;

			br {
				display: none;
			}
		}
	}

	&__items-hld {
		margin-top: 132px;

		@include mobile-767 {
			margin-top: 0;
		}
	}

	&__item {
		display: flex;
		margin-top: 100px;

		@include tablet-medium-1199 {
			align-items: center;
		}

		@include tablet-small-1023 {
			align-items: flex-start;
		}

		@include mobile-767 {
			flex-direction: column;
			margin-top: 40px;
		}

		&:nth-of-type(even) {
			flex-direction: row-reverse;

			@include mobile-767 {
				flex-direction: column;
			}

			.image-hld {
				padding-right: 0;
				padding-left: 12px;

				@include mobile-767 {
					padding: 0;
				}
			}

			.text-hld {
				padding: 48px 120px 0 110px;

				@include tablet-big-1365 {
					padding: 48px 48px 0;
				}

				@include tablet-medium-1199 {
					padding: 0 40px;
				}

				@include tablet-small-1023 {
					padding: 0 20px 0 0;
				}

				@include mobile-767 {
					margin-top: 14px;
					padding: 0;
				}
			}
		}
	}

	&__item-image-hld {
		width: 50%;
		padding-right: 12px;
		overflow: hidden;

		@include mobile-767 {
			width: 100%;
			padding: 0;
		}

		img {
			border-radius: 6px;
		}
	}

	&__item-text-hld {
		width: 50%;
		padding: 74px 100px 0 120px;

		@include mobile-767 {
			width: 100%;
		}

		@include tablet-big-1365 {
			padding: 48px 48px 0;
		}

		@include tablet-medium-1199 {
			padding: 0 40px;
		}

		@include tablet-small-1023 {
			padding: 0 0 0 20px;
		}

		@include mobile-767 {
			margin-top: 14px;
			padding: 0;
		}
	}

	&__item-title {
		font-size: 24px;
		font-weight: 900;
		letter-spacing: 0;
		line-height: calc(36 / 24);
	}

	&__item-description {
		margin-top: 10px;

		@include mobile-767 {
			margin-top: 6px;
		}
	}
}
