.u-section--freemode-slider-with-images {
	margin-top: 0;
	padding-top: 140px;
	background-color: $c-accent-dark;
	overflow: hidden;

	@include media-max(1023) {
		&.u-section {
			margin-top: 0;
		}
	}

	@include media-max(767) {
		padding-top: 100px;
	}

	.freemode-slider-with-images {
		max-width: 1116px;
		margin: 0 auto;
		padding-right: 30px;
		padding-bottom: 180px;
		padding-left: 30px;

		@include media-max(767) {
			padding-bottom: 140px;
		}

		&__title {
			color: $c-white;
			font-size: 32px;
			font-weight: 900;
			letter-spacing: 0;
			line-height: 44px;
			text-align: center;
		}

		.swiper-freemode__slider {
			margin-top: 64px;
			overflow: visible;

			@include media-max(767) {
				margin-top: 48px;
			}

			.slide {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 408px;
				height: auto;

				&__image-hld {
					position: relative;
					height: 0;
					padding-bottom: calc(215% / 408 * 100);
					background-color: rgba($c-blue-green, 0.5);
				}

				&__image {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

				&__title {
					margin-top: 24px;
					color: $c-white;
					font-size: 24px;
					font-weight: 900;
					line-height: calc(36 / 24);

					@include media-max(767) {
						font-size: 20px;
					}
				}

				&__subtitle {
					margin-top: 4px;
					color: rgba($c-white, 0.8);
					font-size: 16px;
					font-weight: 400;
					line-height: calc(26 / 16);
				}
			}

			.freemode-slider-with-images__pagination {
				top: unset;
				bottom: -40px;
				height: 2px;
				background-color: rgba(255, 255, 255, 0.27);

				>span {
					height: 2px;
					background-color: $c-white;
					opacity: 1;
				}
			}
		}
	}
}
