.header-popup-hld {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding-top: 17px;
	padding-right: 50px;
	padding-bottom: 15px;
	padding-left: 50px;
	background-color: $c-blue-green;
}

.header-popup-inner {
	position: relative;
}

.header-popup {
	max-width: 1115px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;

	.text {
		display: block;
		color: $c-black;
		font-size: 16px;
		font-weight: 500;
		line-height: calc(26 / 16);
	}
}

.header-popup-close {
	position: absolute;
	top: calc(50% - 14px);
	right: -10px;
	cursor: pointer;
	padding: 10px;
	border: 0;
	outline: 0;
	background-color: transparent;

	.svg-close {
		display: block;
		width: 8px;
		height: 8px;
		stroke: $c-black;
	}
}

@include media-max(1399) {
	.header-popup-hld {
		padding-right: 24px;
		padding-left: 24px;
	}
}

@include media-max(1199) {
	.header-popup-hld {
		padding-right: 16px;
		padding-left: 16px;
	}
}

@include tablet-small {
	.header-popup-hld {
		padding-right: 24px;
		padding-left: 24px;
	}

	.header-popup {
		padding-left: 0;
	}
}

@include mobile {
	.header-popup-hld {
		padding-top: 14px;
		padding-right: 16px;
		padding-bottom: 12px;
		padding-left: 16px;
	}

	.header-popup {
		.text {
			font-size: 15px;
			line-height: 1.5;
		}
	}
}
