.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	transition: opacity 0.2s;

	&--desktop {
		transform: translateY(0);

		@include tablet-small-1023 {
			display: none;
		}
	}

	&--mobile {
		display: none;

		@include tablet-small-1023 {
			display: block;
		}
	}

	.is-modal-opened & {
		pointer-events: none;
		opacity: 0;
	}
}
