.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;

	&--desktop {
		@include tablet-small-1023 {
			display: none;
		}
	}

	&--mobile {
		display: none;

		@include tablet-small-1023 {
			display: block;
		}
	}
}
