.u-section--hero-img-right {
	margin-top: 0;

	@include tablet-small-1023 {
		&.u-section--hero-img-right {
			margin-top: 0;
		}
	}

	.u-wrapper {
		max-width: 1332px;
	}

	.hero-img-right {
		padding-top: 284px;
		padding-bottom: 254px;

		@include media-max(1200) {
			padding-top: 250px;
			padding-bottom: 230px;
		}

		@include media-max(900) {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 120px;
			padding-bottom: 0;
			text-align: center;
		}

		&__content {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 626px;
			padding-left: 108px;

			@include media-max(1200) {
				max-width: 435px;
				padding-left: 0;
			}
		}

		&__title {
			max-width: 485px;
			margin-bottom: 16px;

			@include media-max(1050) {
				font-size: 48px;
				line-height: 64px;
			}

			@include mobile-599 {
				font-size: 36px;
				line-height: 45px;
			}
		}

		&__excerpt {
			max-width: 430px;
			margin-bottom: 48px;
		}

		&__image {
			position: absolute;
			top: 70px;
			right: 30px;
			max-height: 715px;

			@include media-max(1050) {
				top: 160px;
				max-height: 500px;
			}

			@include media-max(900) {
				position: static;
				margin-top: 48px;
			}
		}

		&__buttons {
			display: flex;
			align-items: center;

			@include media-max(480) {
				flex-direction: column;
			}

			button {
				margin-left: 16px;

				&:hover {
					.text,
					.icon {
						color: $c-white;
					}
				}

				@include media-max(480) {
					margin-top: 10px;
					margin-left: 0;
				}

				.icon-play {
					margin-right: 10px;
					color: $c-black;
					font-size: 13px;
					transition: color 0.2s;
				}
			}

			.btn {
				min-width: 192px;
				padding: 16px 40px 14px;
				text-align: center;

				@include tablet-small-1023 {
					min-width: 210px;
				}
			}
		}
	}
}
