.u-section--hero-slider {
	margin-top: 100px;

	@include tablet-small-1023 {
		&.u-section--hero-slider {
			margin-top: 60px;
		}

		+.u-section {
			margin-top: 0;
		}
	}
}

.hero-slider {
	position: relative;
	width: 100%;
	background-image: linear-gradient(115deg, $c-accent, $c-green, $c-accent-light);

	@include tablet-small-1023 {
		background-color: $c-white;
		background-image: none;
	}

	.arrow {
		position: absolute;
		top: 50%;
		z-index: 10;
		cursor: pointer;
		padding: 20px;
		color: $c-white;
		transform: translateY(-50%);
		transition: opacity 0.2s;

		@include tablet-small-1023 {
			padding: 10px;
		}

		&.swiper-button-disabled {
			cursor: default;
			opacity: 0.3;
		}

		.icon {
			font-size: 24px;

			@include tablet-small-1023 {
				color: $c-accent;
			}
		}

		&--prev {
			left: 42px;

			@include tablet-small-1023 {
				left: 0;
			}

			.icon {
				display: block;
				transform: rotate(-90deg);
			}
		}

		&--next {
			right: 42px;

			@include tablet-small-1023 {
				right: 0;
			}

			.icon {
				display: block;
				transform: rotate(-90deg);
			}
		}
	}

	&__progress-bar.swiper-pagination-bullets {
		position: absolute;
		top: 0;
		right: unset;
		bottom: unset;
		left: 0;
		z-index: 20;
		width: 100%;
		height: 6px;

		.swiper-pagination-bullet {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			border-radius: 0;
			background-color: transparent;
			overflow: hidden;

			&:hover {
				transform: none;
			}

			>span {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}

		.swiper-pagination-bullet-active {
			transform: none;

			>span {
				border-radius: 0 4px 4px 0;
				background: linear-gradient(90deg, #11B583 0%, #00F0F3 100%);
				animation: slideProgress 5s linear forwards;
			}
		}

		@keyframes slideProgress {
			0% {
				transform: translateX(-100%);
			}

			100% {
				transform: translateX(0);
			}
		}
	}

	&__inner {
		height: 100%;
	}

	&__item {
		width: 100%;
		height: 100%;

		&.is-iframe {
			@include tablet-small-1023 {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		@include tablet-small-1023 {
			text-align: center;
		}
	}

	&__item-video-hld {
		position: relative;
		pointer-events: none;
		height: 0;
		max-height: 50vh;
		padding-bottom: 56.25%;
		/* 16:9 */
		user-select: none;

		&.is-desktop {
			&::before {
				content: '';
				display: flex;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 4;
				pointer-events: none;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(to right, rgba($c-accent, 0.5), rgba($c-accent, 0.35), rgba($c-accent, 0.05), transparent);
				mix-blend-mode: darken;
			}

			@include tablet-small-1023 {
				display: none;
			}
		}

		&.is-mobile {
			display: none;

			@include tablet-small-1023 {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				z-index: 10;
				pointer-events: all;
				width: 100%;
				height: auto;
				max-height: unset;
				padding: 0;

				iframe {
					position: static;
					width: 730px;
					max-width: calc(100% - 60px);
					height: 500px;

					@include mobile-599 {
						height: 200px;
					}
				}
			}
		}

		iframe,
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__item-image-hld {
		position: relative;
		width: 100%;
		height: 0;
		max-height: 50vh;
		padding-bottom: 56.25%;
		/* 16:9 */

		@include tablet-small-1023 {
			height: 100vh;
			max-height: calc(100vh - 60px);
			padding: 0;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__item-text-hld {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		top: 50%;
		left: 8vw;
		z-index: 10;
		width: 100%;
		max-width: 900px;
		color: $c-white;
		transform: translateY(-50%);

		@include tablet-small-1023 {

			.is-iframe & {
				position: static;
				max-height: calc(100vh - 60px);
				padding: 10vw 0;
				color: $c-black;
				transform: none;
			}
		}

		.u-wrapper {
			margin: 0;
		}
	}

	&__item-subtitle {
		font-weight: 500;
		text-shadow: 0 0 20px rgba($c-black, 0.2);

		@include mobile-599 {
			margin-bottom: 8px;
			font-size: 20px;
			line-height: 30px;
		}
	}

	&__item-title {
		font-weight: 900;
		text-shadow: 0 0 20px rgba($c-black, 0.2);

		@include tablet-small-1023 {
			margin-bottom: 10px;
			font-size: 48px;
			line-height: 64px;

			br {
				display: none;
			}
		}

		@include mobile-599 {
			font-size: 36px;
			line-height: 44px;
		}
	}

	&__buttons-hld {
		display: flex;
		align-items: center;
		margin-top: 24px;

		@include tablet-small-1023 {
			flex-direction: column;
		}

		.btn {
			min-width: 192px;
			padding: 16px 40px 14px;
			text-align: center;

			&:not(:first-of-type) {
				margin-left: 16px;
			}

			@include tablet-small-1023 {
				min-width: 210px;
			}
		}

		button {
			margin-left: 16px;

			@include tablet-small-1023 {
				display: none;
			}

			&:hover {
				border-color: transparent;

				.text,
				.icon {
					color: $c-white;
				}
			}

			@include media-min(1024) {
				border-color: $c-white;
			}

			@include media-max(480) {
				margin-top: 10px;
				margin-left: 0;
			}

			.text {
				text-shadow: 0 0 20px rgba($c-black, 0.2);

				@include media-min(1024) {
					color: $c-white;
				}
			}

			.icon-play {
				margin-right: 10px;
				color: $c-black;
				font-size: 13px;
				transition: color 0.2s;

				@include media-min(1024) {
					color: $c-white;
				}
			}
		}
	}
}
