.u-section--hero-desc-image {
	margin-top: 0;
	padding-top: 190px;
	background-image: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);
}

.hero-desc-image {
	display: flex;
	justify-content: space-between;

	&__text-hld {
		width: calc(100% - 556px);
	}

	&__description {
		margin-top: 6px;
		letter-spacing: 0.16px;
	}

	&__img-hld {
		position: relative;
		width: 556px;
		margin-top: -44px;

		img {
			min-width: 576px;
			transform: translateX(98px);
		}
	}
}
