.hbspt-form,
.hs-form {
	p {
		color: $c-white;
		font-size: 13px;
		font-weight: 300;
		line-height: 19px;
		opacity: 0.8;
	}

	.hs-field-desc {
		margin-top: 50px !important;
		color: rgba($c-white, 0.8) !important;
		font-family: $font-head !important;
		font-size: 13px !important;
		font-weight: 300 !important;
		letter-spacing: 0 !important;
		line-height: 19px !important;

		@include mobile-599 {
			margin-top: 20px !important;
		}
	}

	.hs_developer_kit,
	.legal-consent-container,
 
	.hs-fieldtype-checkbox {
		.inputs-list {
			margin-top: 30px;
		}

		input {
			width: 16px !important;
			height: 16px !important;
			min-height: unset !important;
			margin: 0 !important;
			padding: 0 !important;
			padding-left: 0 !important;
			border: 1px solid $c-white !important;
			border-bottom: 1px solid $c-white !important;
			border-radius: 2px !important;
			background: transparent !important;
			color: $c-accent !important;
			font-family: $font-head !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			line-height: 26px !important;
			transition: border-color 0.2s, background-color 0.2s;
			-webkit-appearance: checkbox !important;
			appearance: checkbox !important;
		}

		span {
			display: inline-block;
			transform: translateY(-2px);
		}
	}

	.hs_interest,
	.hs_leadsource {
		.input {
			&::before {
				content: '\e90b';
				position: absolute;
				top: 0;
				right: 5px;
				color: rgba($c-white, 0.8);
				font-family: 'icomoon', sans-serif;
				font-size: 13px;
			}
		}
	}

	.hs_message {
		textarea {
			width: 100%;
			height: 55px !important;
			padding: 25px 5px !important;
			border: 0 !important;
			border-bottom: 1px solid rgba($c-white, 0.8) !important;
			border-radius: 0 !important;
			background-color: transparent !important;
			color: $c-white !important;
			font-family: $font-head !important;
			font-size: 16px !important;
			letter-spacing: 0 !important;
			line-height: 26px !important;
			resize: none !important;

			&::placeholder {
				color: rgba($c-white, 0.8) !important;
			}

			&::-moz-placeholder {
				color: rgba($c-white, 0.8) !important;
			}

			&:hover,
			&:focus {
				border-bottom: 1px solid rgba($c-white, 0.8) !important;
			}
		}
	}

	.field {
		position: relative;
		margin-bottom: 36px;

		&.is-active {
			input {
				border-bottom: 1px solid $c-white !important;
			}
		}

		input {
			width: 100% !important;
			height: auto !important;
			min-height: unset !important;
			padding: 0 !important;
			padding-left: 3px !important;
			border: 0 !important;
			border-bottom: 1px solid rgba($c-white, 0.8) !important;
			border-radius: 0 !important;
			background: transparent !important;
			color: $c-white !important;
			font-family: $font-head !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			line-height: 26px !important;
			transition: border-color 0.2s;
		}

		&.hs-fieldtype-select {
			border-bottom: 1px solid rgba($c-white, 0.8);

			&.is-active {
				> label {
					transform: translateY(-20px);

					span {
						font-size: 12px;
						line-height: 16px;
					}
				}

				select {
					opacity: 1;
				}
			}

			select {
				width: 100%;
				padding-left: 3px;
				border: none;
				background: transparent;
				color: $c-white;
				font-size: 16px;
				font-weight: 500;
				line-height: 26px;
				opacity: 0;
			}
		}

		.hs-error-msgs {
			position: absolute;
			bottom: -24px;
			left: 0;
			width: 100%;
			color: $c-orange;
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 0;
			line-height: 20px;

			label {
				color: $c-orange;
				font-size: 13px;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 20px;
				transform: translate(0);

				@include mobile-599 {
					font-size: 10px;
					font-weight: 300;
					line-height: 13px;
				}

				.is-buy-page-form & {
					font-size: 12px;
					font-weight: 300;

					@include mobile-599 {
						display: block;
						font-size: 9px;
						transform: translateY(-46px);
					}
				}
			}
		}

		&.is-active {
			> label {
				transform: translateY(-20px);

				span {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}

		> label {
			position: absolute;
			left: 0;

			span {
				padding-left: 5px;
				color: rgba($c-white, 0.8);
				font-size: 16px;
				font-weight: 500;
				line-height: 26px;
				transition: transform 0.2s;
				opacity: 0.5;
			}
		}
	}

	.hs-richtext {
		margin-top: 35px;
	}

	.hs-fieldtype-booleancheckbox,
 
	.hs-form-checkbox {
		.input {
			margin-top: 8px;
		}

		label {
			display: flex;
			align-items: flex-start;
			cursor: pointer;

			> span {
				margin-left: 10px;
				color: rgba($c-white, 0.8);
				font-size: 13px;
				font-weight: 500;
				line-height: 19px;

				> p {
					color: rgba($c-white, 0.8);
					font-size: 13px;
					font-weight: 300;
					line-height: 19px;
					opacity: 1;
				}

				strong {
					color: rgba($c-white, 0.8);
					font-weight: 900;
				}
			}
		}

		input {
			cursor: pointer;
			min-width: 17px;
			max-width: 17px;
			min-height: 17px;
			max-height: 17px;
			border: 1px solid $c-white;
			border-radius: 2px;
			background: transparent;

			&:checked {
				background: $c-white;
			}
		}
	}

	.hs_submit {
		margin-top: 56px;
		text-align: center;

		input {
			cursor: pointer;
			padding: 16px 70px 14px;
			border: 1px solid rgba($c-white, 0.6);
			border-radius: 28px;
			background: transparent;
			color: $c-white;
			font-size: 16px;
			font-weight: 500;
			line-height: 26px;
			text-align: center;
			transition: all 0.3s;

			&:hover {
				border-color: $c-accent;
				background-color: $c-accent;
			}
		}
	}

	.hs_partner_type_from_form_ {
		> label {
			position: absolute;
			top: -30px;
			left: 0;

			span {
				margin: 0 !important;
				padding: 0 !important;
				color: rgba($c-white, 0.8);
				font-family: $font-head !important;
				font-size: 16px !important;
				font-weight: 500 !important;
				line-height: 26px !important;
			}
		}

		.inputs-list.inputs-list {
			display: flex !important;
			flex-wrap: wrap !important;
			margin-top: 80px !important;	

			.hs-form-checkbox {
				width: 100% !important;
			}
		}

		.hs-form-checkbox {
			margin-top: 12px;
		}

		.inputs-list {
			margin: 0 !important;
			padding: 0 !important;
		}

		input {
			width: 16px !important;
			height: 16px !important;
			min-height: unset !important;
			margin: 0 !important;
			padding: 0 !important;
			padding-left: 0 !important;
			border: 1px solid $c-white !important;
			border-bottom: 1px solid $c-white !important;
			border-radius: 2px !important;
			background: transparent !important;
			color: $c-accent !important;
			font-family: $font-head !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			line-height: 26px !important;
			transition: border-color 0.2s, background-color 0.2s;
			-webkit-appearance: checkbox !important;
			appearance: checkbox !important;
		}

		span {
			display: inline-block !important;
			margin-left: 10px;
			color: rgba($c-white, 0.8) !important;
			font-family: $font-head !important;
			font-size: 13px !important;
			font-weight: 300 !important;
			letter-spacing: 0 !important;
			line-height: 20px !important;
			transform: translateY(-3px) !important;
		}
	}

	.hs-fieldtype-checkbox {
		> label {
			position: absolute;
			top: -30px;
			left: 0;

			span {
				margin: 0 !important;
				padding: 0 !important;
				color: rgba($c-white, 0.8);
				font-family: $font-head !important;
				font-size: 16px !important;
				font-weight: 500 !important;
				line-height: 26px !important;
			}
		}

		.inputs-list.inputs-list {
			display: flex !important;
			flex-wrap: wrap !important;
			margin-top: 10px !important;	

			.hs-form-checkbox {
				width: 100% !important;
			}
		}

		.hs-form-checkbox {
			margin-top: 12px;
		}

		.inputs-list {
			margin: 0 !important;
			padding: 0 !important;
		}

		input {
			width: 16px !important;
			height: 16px !important;
			min-height: unset !important;
			margin: 0 !important;
			padding: 0 !important;
			padding-left: 0 !important;
			border: 1px solid $c-white !important;
			border-bottom: 1px solid $c-white !important;
			border-radius: 2px !important;
			background: transparent !important;
			color: $c-accent !important;
			font-family: $font-head !important;
			font-size: 16px !important;
			font-weight: 500 !important;
			line-height: 26px !important;
			transition: border-color 0.2s, background-color 0.2s;
			-webkit-appearance: checkbox !important;
			appearance: checkbox !important;
		}

		span {
			display: inline-block !important;
			margin-left: 10px;
			color: rgba($c-white, 0.8) !important;
			font-family: $font-head !important;
			font-size: 13px !important;
			font-weight: 300 !important;
			letter-spacing: 0 !important;
			line-height: 20px !important;
			transform: translateY(0) !important;
		}
	}

	.hs_error_rollup {
		margin-top: 30px;
		color: $c-orange;
	}
}

// CONTACT PAGE
.is-page-contact {
	.hbspt-form .hs-message.field > label {
		transform: translateY(-20px);
	}

	.hbspt-form .hs-leadsource.field > label span {
		@include mobile-599 {
			font-size: 14px;
		}
	}
}

// BECOME A PARTNER FORMS
.is-multistep-form,
.is-partners-long-form {
	.submitted-message {
		color: $c-white !important;
		font-family: $font-head !important;
		font-size: 16px !important;
		font-weight: 500 !important;
		letter-spacing: 0 !important;
		line-height: 26px !important;
		text-align: center !important;
	}

	.hs-form,
	.hbspt-form {
		> div {
			&:first-of-type {
				.hs-richtext {
					margin-top: 0;
				}
			}
		}

		h2 {
			color: $c-white !important;
			font-family: $font-head !important;
			font-size: 24px;
			font-weight: 700 !important;
			letter-spacing: 0 !important;
			line-height: 36px !important;
			text-align: center !important;
		}
	
		.hs-firstname,
		.hs-company {
			margin-top: 35px;
		}

		.hs-message,
		.hs_partner_directory_integration {
			margin-bottom: 0;
			padding-top: 45px;

			label {
				font-family: $font-head !important;

				span {
					padding-left: 0;
				}
			}

			legend {
				margin-top: 35px !important;
				color: rgba($c-white, 0.8) !important;
				font-family: $font-head !important;
				font-size: 13px !important;
				font-weight: 300 !important;
				letter-spacing: 0 !important;
				line-height: 19px !important;
			}

			textarea {
				width: 100%;
				height: 55px !important;
				padding: 25px 5px !important;
				border: 0 !important;
				border-bottom: 1px solid rgba($c-white, 0.8) !important;
				border-radius: 0 !important;
				background-color: transparent !important;
				color: $c-white !important;
				font-family: $font-head !important;
				font-size: 16px !important;
				letter-spacing: 0 !important;
				line-height: 26px !important;
				resize: none !important;

				&::placeholder {
					color: rgba($c-white, 0.8) !important;
				}

				&::-moz-placeholder {
					color: rgba($c-white, 0.8) !important;
				}

				&:hover,
				&:focus {
					border-bottom: 1px solid rgba($c-white, 0.8) !important;
				}
			}
		}

		.hs_submit {
			margin-top: 60px;
			text-align: center;

			input {
				display: block;
				cursor: pointer;
				margin: 0 auto;
				padding: 16px 75px 14px;
				border: 1px solid rgba($c-white, 0.6);
				border-radius: 28px;
				background: $c-white;
				color: $c-accent;
				font-family: $font-head !important;
				font-size: 16px;
				font-weight: 500;
				line-height: 26px;
				text-align: center;
				transition: 0.2s;

				&:hover,
				&:active,
				&:focus {
					padding: 16px 75px 14px !important;
					border: 1px solid rgba($c-white, 0.6) !important;
					border-radius: 28px !important;
					border-color: $c-accent !important;
					background-color: $c-accent !important;
					color: $c-white !important;
					font-family: $font-head !important;
					font-size: 16px !important;
					font-weight: 500 !important;
					line-height: 26px !important;
				}
			}
		}

		.hs_partner_directory_type,
		.hs_partner_type_from_form_ {
			margin-bottom: 0 !important;

			> label {
				position: absolute;
				top: -50px;
				left: 0;

				span {
					margin: 0 !important;
					padding: 0 !important;
					color: rgba($c-white, 0.8);
					font-family: $font-head !important;
					font-size: 16px !important;
					font-weight: 500 !important;
					line-height: 26px !important;
				}
			}

			.hs-form-checkbox {
				margin-top: 12px;
			}

			.inputs-list {
				margin: 0 !important;
				margin-top: 95px !important;
				padding: 0 !important;
			}

			input {
				width: 16px !important;
				height: 16px !important;
				min-height: unset !important;
				margin: 0 !important;
				padding: 0 !important;
				padding-left: 0 !important;
				border: 1px solid $c-white !important;
				border-bottom: 1px solid $c-white !important;
				border-radius: 2px !important;
				background: transparent !important;
				color: $c-accent !important;
				font-family: $font-head !important;
				font-size: 16px !important;
				font-weight: 500 !important;
				line-height: 26px !important;
				transition: border-color 0.2s, background-color 0.2s;
				-webkit-appearance: checkbox !important;
				appearance: checkbox !important;
			}

			span {
				display: inline-block !important;
				margin-left: 10px;
				color: rgba($c-white, 0.8) !important;
				font-family: $font-head !important;
				font-size: 13px !important;
				font-weight: 300 !important;
				letter-spacing: 0 !important;
				line-height: 20px !important;
				transform: translateY(-3px) !important;
			}
		}

		.hs_partner_type_from_form_ {
			> label {
				display: none !important;
			}

			.inputs-list {
				display: flex !important;
				flex-wrap: wrap !important;
				margin-top: 35px !important;	

				.hs-form-checkbox {
					width: 50%;
					// padding-left: 60px !important;

					@include mobile-599 {
						padding-left: 0 !important;
					}
				}
			}
		}
	}
}
