.u-section--intro {}

.intro {
	&.is-centered {
		text-align: center;

		.intro__description {
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
		}
	}

	&__title {
		margin-bottom: 22px;
	}

	&__description {
		max-width: 630px;

		&:not(:first-child) {
			margin-top: 15px;
		}

		p {
			&:not(:first-child) {
				margin-top: 1em;
			}

			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}

	&__buttons-hld {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		margin-top: 48px;
	}
}
