.u-section--kit-contents {
	margin-top: 116px;
	margin-bottom: 128px;
}

.kit-contents__subtitle {}

.kit-contents__title {}

.kit-contents {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
	margin-top: 64px;
}

.kit-contents-item {
	padding: 20px 24px 44px;
	border-radius: 6px;
	background: linear-gradient(to bottom, #F5F5FC, #F5F9FC);

	.icon-hld {
		img {
			display: block;
			width: auto;
			height: 24px;
		}
	}

	.text {
		display: block;
		margin-top: 16px;
		color: $c-black;
		font-size: 16px;
		font-weight: 500;
		line-height: calc(26 / 16);
	}
}

@include tablet-small {

	.u-section--kit-contents.u-section {
		margin-top: 96px;
		margin-bottom: 96px;
	}

	.kit-contents {
		grid-template-columns: repeat(2, 1fr);
		max-width: calc(336px * 2 + 24px);
		margin-top: 48px;
		margin-right: auto;
		margin-left: auto;
	}

	.kit-contents__subtitle,
	.kit-contents__title {
		text-align: center;
	}
}

@include mobile {
	.kit-contents {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 16px;
		max-width: 336px;
	}

	.kit-contents-item {
		padding-top: 24px;
		padding-bottom: 24px;
	}
}
