.u-section--logos-slider {
	margin-top: 95px;

	.logos-slider {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1332px;
		margin: 0 auto;
		padding: 0 30px;
	}

	.u-section--logos-slider-no-arrows {
		margin-top: 0;

		.logos-slider__slider-wrapper {
			margin-top: 64px;
		}
	}

	.logos-slider__title {
		font-size: 32px;
		font-weight: 900;
		line-height: 40px;
		text-align: center;
	}

	.logos-slider__slider-wrapper {
		position: relative;
		width: 100%;
		margin-top: 40px;
	}

	.logos-slider__subtitle {
		margin-bottom: 16px;
		color: $c-gray;
		font-size: 14px;
		font-weight: 500;
		line-height: 19px;
		text-align: center;
	}

	.swiper-logos__slider {
		width: calc(100% - 160px);
		max-width: 1104px;

		@include media-max(640) {
			width: 100%;
		}
	}

	.swiper-slide {
		> div {
			margin-top: 14px;
			color: $c-gray;
			font-size: 12px;
			font-weight: 500;
			line-height: 16px;
			text-align: center;
		}

		img {
			filter: grayscale(1);
		}
	}

	.swiper-button {
		position: absolute;
		top: 50%;
		cursor: pointer;
		color: $c-black;
		transform: translateY(-50%);

		@include media-max(640) {
			display: none;
		}

		&-disabled {
			cursor: default;
			color: $c-gray;
		}
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		right: 0;
	}
}
