.u-section--logos-slider {
	margin-top: 95px;

	.is-page-company & {
		margin-top: 25px;
		padding-top: 70px;
		padding-bottom: 65px;
		background-image: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);
	}

	.is-page-press & {
		margin-top: 65px;
	}

	.is-page-getting & {
		margin-bottom: 95px;
	}

	// .is-page-partner & {
	// 	position: relative;
	// 	margin-top: 130px;

	// 	&::before {
	// 		content: '';
	// 		position: absolute;
	// 		top: -80px;
	// 		left: 0;
	// 		pointer-events: none;
	// 		width: 100%;
	// 		height: 1px;
	// 		background-color: #dddddd;
	// 	}
	// }

	.logos-slider {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1332px;
		margin: 0 auto;
		padding: 0 30px;

		.btn {
			margin-top: 70px;
			padding: 16px 55px 14px;
		}
	}

	.u-section--logos-slider-no-arrows {
		margin-top: 0;

		.logos-slider__slider-wrapper {
			margin-top: 64px;
		}
	}

	.logos-slider__title {
		margin-bottom: 45px;
		font-size: 32px;
		font-weight: 900;
		line-height: 40px;
		text-align: center;
	}

	.logos-slider__slider-wrapper {
		position: relative;
		width: 100%;
		margin-top: 40px;

		.is-page-press & {
			margin-top: 25px;
		}

		.is-page-getting & {
			margin-top: 0;
		}
	}

	.swiper-wrapper {
		.is-page-getting & {
			align-items: flex-start;
			justify-content: center;

			@include media-max(479) {
				justify-content: unset;
			}
		}
	}

	.logos-slider__subtitle {
		margin-bottom: 16px;
		color: $c-gray;
		font-size: 14px;
		font-weight: 500;
		line-height: 19px;
		text-align: center;
	}

	.swiper-logos__slider {
		width: calc(100% - 160px);
		max-width: 1104px;

		@include media-max(640) {
			width: 100%;
		}
	}

	.swiper-logos__slider-item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;

		&.is-title {
			flex-direction: column;
		}

		&.is-link {
			transition: filter 0.2s;

			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}

		a {
			color: $c-accent;
			transition: opacity 0.2s;

			&:hover {
				opacity: 0.7;
			}
		}

		.links {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 110%;
			transform: translateX(-50%);
		}
	}

	.swiper-slide {
		> .title {
			position: relative;
			width: 110%;
			min-height: 20px;
			margin-top: 14px;
			color: $c-gray;
			font-size: 12px;
			font-weight: 500;
			line-height: 16px;
			text-align: center;
		}

		img {
			height: auto;
			filter: grayscale(1);

			.is-page-getting & {
				width: auto;
				height: 76px;
			}
		}
	}

	.swiper-button {
		position: absolute;
		top: 50%;
		cursor: pointer;
		color: $c-black;
		transform: translateY(-50%);

		@include media-max(640) {
			display: none;
		}

		&-disabled {
			cursor: default;
			color: $c-gray;
		}
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		right: 0;
	}
}
