.menu-desktop {
	display: flex;
	align-items: center;
	position: relative;
	height: 100px;
	padding: 0 65px;
	background-color: transparent;
	transition: background-color 0.2s;

	@include tablet-medium-1199 {
		padding: 0 30px;
	}

	.is-scrolled &,
	.is-dropdown-active & {
		background-color: $c-white;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		pointer-events: none;
		width: calc(100% - 130px);
		height: 1px;
		padding: 0 65px;
		background-color: rgba($c-border, 0.5);
		transform: translateX(-50%);

		@include tablet-medium-1199 {
			width: calc(100% - 60px);
		}
	}

	&__logo-hld {
		min-width: 105px;
		margin-right: 65px;
		transition: opacity 0.2s;

		@include tablet-medium-1199 {
			margin-right: 10px;
		}

		&:hover {
			opacity: 0.7;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
			transform: translateY(-5px);
		}
	}

	&__list {
		display: flex;
		width: 100%;
		height: 100%;
	}

	&__list-item {
		cursor: default;

		&.is-active {
			.inner {
				.text {
					color: $c-accent;
				}
			}
		}

		&.has-dropdown {
			&:hover {
				.inner {
					.icon {
						&-dropdown-down {
							transform: rotate(-180deg);
						}
					}
				}

				.menu-desktop__dropdown {
					z-index: -1;
					pointer-events: all;
					transform: translateY(0);
					opacity: 1;
				}
			}
		}

		&.is-right {
			margin-left: auto;
		}

		&.is-last {
			display: flex;
			align-items: center;
			margin-left: 20px;

			.inner {
				justify-content: center;
				min-width: 150px;
				height: 57px;
				border: 1px solid rgba(#262832, 0.6);
				border-radius: 28px;

				.text {
					transform: translateY(0.5px);
				}
			}
		}
		
		.inner {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 20px;

			@include tablet-medium-1199 {
				padding: 0 15px;
			}

			.icon {
				position: relative;

				&-dropdown-down {
					position: relative;
					top: -1px;
					margin-left: 4px;
					font-size: 12px;
					transition: transform 0.2s;
				}

				&-user {
					top: -2px;
					margin-right: 12px;
					font-size: 16px;
				}
			}
		}

		a.inner {
			cursor: pointer;
			transition: color 0.2s, border-color 0.2s;

			&:hover,
			&:focus,
			&:active {
				border-color: $c-accent;
				color: $c-accent;
			}
		}

		.hidden-children {
			display: none;
		}
	}

	&__dropdown {
		display: flex;
		position: absolute;
		top: calc(100% - 1px);
		left: 0;
		z-index: -2;
		pointer-events: none;
		width: 100%;
		height: auto;
		padding: 50px 65px 45px;
		background-color: $c-white;
		transform: translateY(15px);
		transition: transform 0.35s;
		transition: 0.35s;
		overflow: hidden;
		opacity: 0;
	}

	&__dropdown-box {
		width: 50%;

		&--left {
			position: relative;
			padding-left: 190px;

			@include tablet-medium-1199 {
				padding-left: 100px;
			}

			&::before {
				content: '';
				position: absolute;
				top: -50px;
				right: 0;
				z-index: -1;
				pointer-events: none;
				width: 100vw;
				height: 200%;
				background-color: $c-accent-dark;
			}

			.title {
				color: $c-white;
				font-size: 24px;
				font-weight: 900;
				letter-spacing: 0;
				line-height: 36px;
			}

			.description {
				max-width: 300px;
				margin-top: 5px;
				color: rgba($c-white, 0.8);
			}

			.btn {
				margin-top: 10px;
				margin-right: 20px;
				padding-right: 20px;

				.text {
					color: $c-white;
				}
			}
		}

		&--right {
			padding-top: 5px;
			padding-left: 120px;

			@include tablet-medium-1199 {
				padding-left: 60px;
			}

			.title {
				margin-bottom: 10px;
				text-align: left;
			}

			.subnav-hld {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.subnav-item {
				padding: 7px 0;

				&:hover,
				&:focus,
				&:active,
				&.is-active {
					.text {
						color: $c-accent;
					}
				}

				.text {
					color: $c-black;

					&::before {
						color: $c-accent;
					}
				}
			}
		}
	}
}
