.u-section--news-listing {
	margin-top: 100px;
}

.news-listing {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 150px;

	@include mobile-767 {
		flex-direction: column;
	}

	&__filters-hld {
		width: 200px;

		@include mobile-767 {
			width: 100%;
		}
	}

	&__filters-hld-inner {
		position: sticky;
		top: 120px;
	}

	&__filter {
		transition: color 0.2s;

		a {
			display: block;
			padding: 6px 0;
		}

		&.is-active {
			pointer-events: none;
			cursor: text;
			font-weight: 900;
		}

		&--all {
			position: relative;
			padding-bottom: 20px;
			font-weight: 500;

			@include mobile-767 {
				padding-bottom: 0;
			}

			.icon {
				position: absolute;
				top: 2px;
				left: -32px;
				padding: 10px;
				font-size: 12px;
				transition: color 0.2s;
			}
		}

		&:hover {
			color: $c-accent;

			.icon {
				color: $c-accent;
			}
		}
	}

	&__news-hld {
		width: calc(100% - 200px);
		max-width: 955px;

		@include mobile-767 {
			width: 100%;
			max-width: unset;
			margin-top: 50px;
		}
	}

	&__btn {
		position: absolute;
		bottom: -150px;
		left: 50%;
		min-width: 195px;
		padding: 16px 40px 14px;
		transform: translateX(-50%);
	}

	.area {
		position: relative;

		&:not(:first-of-type) {
			&::before {
				content: '';
				position: absolute;
				top: -65px;
				left: 0;
				pointer-events: none;
				width: 100%;
				height: 1px;
				background-color: rgba($c-gray, 0.3);
			}

			.area__text-hld {
				margin-top: 130px;
			}
		}

		&__text-hld {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__title {
			@include mobile-767 {
				font-size: 25px;
			}
		}

		&__see-all {
			margin-right: 10px;
			transition: color 0.2s;

			&:hover {
				color: $c-accent;
			}
		}

		&__posts-hld {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
			grid-gap: 25px;
			margin-top: 55px;

			@include mobile-767 {
				grid-gap: 50px 25px;
				margin-top: 25px;
			}

			@include media-max(959) {
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			}
		}
	}

	.post {
		&__image-hld {
			height: 225px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__date {
			margin-top: 15px;
			padding-right: 5px;
			color: $c-gray;
			font-weight: 500;
		}

		&__title {
			margin-top: 5px;
			padding-right: 5px;
			font-size: 24px;
			font-weight: 900;
			line-height: 36px;
		}

		&__description {
			margin-top: 5px;
			padding-right: 5px;
		}

		&__btn {
			margin-top: 20px;
		}

		&:hover {
			.post__btn {
				.text {
					color: $c-accent-light;
				}
			}
		}
	}
}
