.u-section--hero-news {
	margin-top: 0;
	padding-top: 200px;
	padding-bottom: 205px;

	@include tablet-small-1023 {
		padding-top: 140px;
	}

	@include mobile-767 {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	&.is-no-featured-image {
		padding-bottom: 60px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #f5f9fc;
	}

	.bg-shape-hld {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.u-wrapper {
		max-width: 900px;
	}

	.hero-news {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		text-align: center;

		&__category {
			margin-bottom: 12px;
			font-size: 24px;
			font-weight: 500;
			line-height: 36px;
		}

		&__title {
			margin-bottom: 5px;
			font-size: 48px;
			font-weight: 900;
			line-height: 66px;

			@include mobile-959 {
				margin-bottom: 15px;
				font-size: 32px;
				line-height: 40px;
			}
		}

		&__logo-hld {
			&--center {
				margin-bottom: 12px;

				img {
					width: 100px;
					height: auto;
				}
			}

			&--left {
				display: inline-block;

				img {
					display: inline-block;
					width: auto;
					height: 36px;
				}
			}

			&--right {
				display: inline-block;

				img {
					display: inline-block;
					width: auto;
					height: 36px;
				}
			}
		}

		&__publish-date {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 0;
			line-height: 30px;
		}

		&__image-hld {
			position: absolute;
			bottom: -600px;
			left: 50%;
			z-index: 1;
			width: 100%;
			height: 575px;
			transform: translateX(-50%);

			@include mobile-767 {
				bottom: -400px;
				height: 375px;
			}

			img {
				position: static;
				transform: none;
			}
		}

		&__image {
			position: absolute;
			bottom: -600px;
			left: 50%;
			width: 100%;
			height: 575px;
			transform: translateX(-50%);

			@include mobile-767 {
				bottom: -400px;
				height: 375px;
			}
		}
	}
}

.news-single {
	position: relative;
	padding-top: 470px;
	overflow: hidden;

	@include mobile-767 {
		padding-top: 370px;
	}

	&.is-no-featured-image {
		padding-top: 50px;
	}

	.u-wrapper {
		max-width: 900px;
		padding: 0 30px;
	}

	&__content {
		margin-bottom: 96px;
		padding: 0 108px;

		@include media-max(767) {
			margin-bottom: 48px;
			padding: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		@include media-max(480) {
			padding: 0;
		}

		h2 {
			&:not(:first-of-type) {
				margin-top: 65px;
			}

			margin-bottom: 20px;
			font-size: 24px;
			font-weight: 900;
			line-height: 36px;
		}

		a {
			color: $c-accent;
			transition: color 0.2s;

			&:hover {
				color: $c-accent-dark;
			}
		}

		figure {
			max-width: 100%;
			margin-top: 45px;

			+figure {
				margin-top: 25px;
			}

			+p {
				margin-top: 40px;
			}
		}

		figcaption {
			margin-top: 10px;
			color: rgba($c-black, 0.6);
			font-size: 13px;
			font-weight: 300;
			letter-spacing: 0;
			line-height: 19px;
			text-align: center;
		}

		p {
			margin-top: 0;
			margin-bottom: 12px;
			color: rgba($c-black, 0.8);
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;

			& + ul {
				margin-top: 12px;
			}
		}

		blockquote {
			margin-top: 32px;
			margin-bottom: 32px;
			padding: 8px 0 24px 16px;
			border-left: 2px solid #11b5b5;
			color: $c-black;
			font-size: 24px;
			font-weight: 900;
			line-height: 36px;
		}

		strong,
		b {
			color: $c-black;
		}

		ol,
		ul {
			margin-top: 24px;
			margin-bottom: 24px;
			padding-left: 18px;
			color: rgba($c-black, 0.8);

			>li {
				margin-bottom: 6px;
				padding-left: 5px;
				font-size: 16px;
				font-weight: 300;
				line-height: 26px;
				opacity: 0.8;

				p {
					margin-top: 0;
					margin-bottom: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}

				&::marker {
					color: #000000;
					font-size: 16px;
					font-weight: 900;
					line-height: 26px;
					opacity: 0.8;
				}
			}
		}

		ul {
			li {
				position: relative;
				padding-left: 0;

				&::before {
					content: '';
					position: absolute;
					top: 9px;
					left: -17px;
					pointer-events: none;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: $c-black;
				}
			}
		}
	}

	&__bottom-toolbar {
		max-width: 625px;
		margin: 0 auto;

		>div {
			display: flex;
			align-items: center;
			padding: 15px 0;
			border-top: 1px solid rgba(#979797, 0.27);

			>span {
				&:first-of-type {
					width: 150px;
					color: #a7a7ac;
					font-size: 14px;
					font-weight: 500;
					line-height: 19px;
					text-transform: uppercase;

					@include mobile-599 {
						width: auto;
						margin-right: 20px;
					}
				}
			}
		}
	}

	&__share {
		>a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 38px;
			height: 37px;
			margin-right: 16px;
			border: 1px solid rgba(#979797, 0.4);
			border-radius: 50%;

			&:last-of-type {
				margin-right: 0;
			}

			&:hover {
				.icon {
					opacity: 0.5;
				}
			}

			.icon {
				color: $c-black;
				font-size: 13px;
				transition: opacity 0.3s;
			}
		}
	}

	&__tags {
		.title {
			min-width: 150px;
			margin-bottom: 10px;
			color: #a7a7ac;
			font-size: 14px;
			font-weight: 500;
			line-height: calc(19 / 14);
			text-transform: uppercase;
		}

		.items {
			display: flex;
			flex-wrap: wrap;
		}

		@include mobile-599 {
			&.news-single__tags {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;

				.title {
					margin-top: 10px;
					margin-bottom: 16px;
				}
			}
		}
	}

	&__tag {
		margin-right: 16px;
		margin-bottom: 10px;
		padding: 8px 18px;
		border: 1px solid rgba(#979797, 0.4);
		border-radius: 28px;
		color: $c-black;
		font-size: 14px;
		font-weight: 300;
		line-height: 19px;
		transition: color 0.3s;

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			color: rgba($c-black, 0.5);
		}
	}

	&__cta {
		position: relative;
		margin: 62px 0;

		&--bg-img {
			display: none;
		}

		&--inner {
			display: flex;
			align-items: flex-end;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-top: 38px;
			padding: 58px 42px 58px 273px;
			border-radius: 12px;
			background-color: white;
			box-shadow: 0 0 10px 0 #8686B726;
			overflow: visible;
		}

		&--title {
			margin-bottom: 10px;
			color: #000;
			font-size: 16px;
			font-weight: 800;
			line-height: 26px;
			text-align: left;
		}

		&--img {
			position: relative;
			z-index: 2;
			width: 182px;
			height: auto;
			margin-left: 48px;
			box-shadow: 0 0 10px 0 #00000026;
		}

		&--green {
			.news-single__cta--inner {
				background: #017777;
				overflow: hidden;
			}

			.news-single__cta--img {
				z-index: 3;
			}

			.news-single__cta--text {
				z-index: 3;

				.news-single__cta--title,
				.post__btn .text {
					color: #ffffff;
				}
			}

			.news-single__cta--bg-img {
				display: block;
				position: absolute;
				top: -50px;
				right: 0;
				z-index: 2;
			}
		}

		@include mobile-767 {
			&--img {
				width: 100%;
				height: auto;
				margin-left: 0;
				border-radius: 12px 12px 0 0;
			}

			&--inner {
				position: relative;
				z-index: 2;
				margin-top: 0;
				padding: 16px;
				border-radius: 0 0 12px 12px;
			}
		}
	}
}
