.u-section--outro {
	padding: 96px 0;
	background-color: $c-accent-dark;
	overflow: hidden;

	@include tablet-small-1023 {
		padding: 80px 0;
	}

	@include mobile-767 {
		padding: 60px 0;
	}
}

.outro {
	&__text-hld {
		color: $c-white;
		text-align: center;
	}

	position: relative;
	z-index: 3;

	&__title {
		margin: 0 auto;
	}

	&__subtitle {
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: 500;
		line-height: 19px;
		text-transform: uppercase;
	}

	&__description {
		max-width: 510px;
		margin: 0 auto;
		margin-top: 15px;
	}

	&__bg-img {
		position: absolute;
		top: 65px;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
	}

	&__btn {
		margin: 48px 10px 0;

		&:nth-of-type(2) {
			margin-top: 45px;
			padding: 15px 45px;

			@include mobile-599 {
				margin-top: 35px;
			}
		}
	}
}
