.u-section--partners-list {
	border: 1px solid red;
}

.partners-listing {
	display: flex;

	&__filters-hld {
		width: 300px;
		border: 1px solid red;
	}

	&__filter {
		cursor: pointer;

		&.is-active {
			border: 1px solid green;
		}
	}

	&__items-hld {
		display: grid;
		grid-template-columns: repeat(auto-fit, 300px);
		width: calc(100% - 300px);
		gap: 24px;
		padding: 20px 20px 30px;
		background-color: $c-light;
	}

	&__item {
		min-height: 405px;
		padding: 20px 24px 20px 20px;
		border-radius: 6px;
		background-color: $c-white;
		box-shadow: $box-shadow;

		@include media-max(1050) {
			min-height: unset;
		}

		.img-hld {
			width: 115px;

			img {
				max-width: 100%;
				height: auto;
			}
		}

		.name {
			margin-top: 5px;
			padding-left: 5px;
			font-weight: 500;
		}

		.description {
			position: relative;
			margin-top: 35px;
			padding-left: 5px;
			font-size: 14px;
			line-height: 24px;

			&::before {
				content: '';
				position: absolute;
				top: -18px;
				left: -3px;
				pointer-events: none;
				width: calc(100% + 12px);
				height: 1px;
				background-color: red;
			}
		}

		.btn {
			margin-top: 20px;
		}
	}
}
