.u-section--partners-details {
	margin-top: 65px;
	margin-bottom: 100px;

	@include mobile-767 {
		margin-bottom: 60px;
	}
}

.partners-details {
	&__backlink {
		display: flex;

		&:hover {
			color: $c-accent;
		}

		.icon {
			margin-right: 8px;
			font-size: 12px;
			transform: translateY(6px);
			transition: color 0.2s;
		}

		.text {
			font-weight: 500;
			transition: color 0.2s;
		}
	}

	&__content-hld {
		margin-top: 50px;
		padding: 55px 80px;
		border-radius: 6px;
		box-shadow: $box-shadow;

		@include mobile-599 {
			padding: 15px;
		}
	}

	&__logo-hld {
		max-width: 260px;

		img {
			height: auto;
		}
	}

	&__middle {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		@include tablet-small-1023 {
			flex-direction: column;
		}
	}

	&__text-hld {
		width: calc(100% - 350px);

		@include tablet-small-1023 {
			width: 100%;
		}
	}

	&__name {
		margin-top: 35px;
	}

	&__middle-right {}

	&__categories-hld {
		margin-top: 35px;

		.single-category-hld {
			margin: 24px 0;

			.name {
				font-weight: 500;
			}

			.value {
				margin: 0;
			}
		}
	}

	&__description {
		margin-top: 30px;
	}

	&__website-btn {
		padding: 16px 50px 14px;

		@include tablet-small-1023 {
			margin-top: 30px;
		}
	}

	&__video-hld {
		position: relative;
		width: 100%;
		margin-top: 45px;

		&:hover {
			.icon {
				color: rgba($c-white, 0.75);

				&.is-dark {
					color: rgba($c-accent-dark, 0.75);
				}
			}
		}

		video {
			cursor: pointer;
			width: 100%;
			height: auto;
			max-height: 505px;
			object-fit: cover;
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			pointer-events: none;
			color: $c-white;
			font-size: 172px;
			transform: translate(-50%, -50%);
			transition: opacity 0.2s, color 0.2s;
			opacity: 0;

			&.is-dark {
				color: $c-accent-dark;
			}
		}

		&.is-paused {
			.icon {
				opacity: 1;
			}
		}
	}
}
