.u-section--hero-podcast-details {
	position: relative;
	height: 560px;
	margin-top: 100px;
	overflow: hidden;

	@include tablet-small-1023 {
		height: auto;
	}

	&::before {
		content: '';
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		width: 100%;
		height: 100%;
		background-color: $c-black;
		opacity: 0.6;
	}

	.video-wrapper {
		position: relative;
		height: 0;
		padding-bottom: 56.25%; /* 16:9 */

		@include tablet-small-1023 {
			height: auto;
		}
	}

	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.hero-podcast-details {
		display: flex;
		position: absolute;
		bottom: 65px;
		left: 50%;
		z-index: 5;
		width: fit-content;
		transform: translateX(-50%);

		@include tablet-small-1023 {
			flex-direction: column;
			top: 50%;
			bottom: unset;
			transform: translateX(-50%) translateY(-50%);
		}

		.btn {
			display: flex;
			align-items: center;

			&--first {
				padding: 16px 45px 14px;

				.text {
					color: $c-accent;
				}

				&:hover {
					.text,
					.icon {
						color: $c-white;
					}
				}
			}

			&--second {
				margin-left: 25px;
				padding: 16px 40px 14px;

				@include tablet-small-1023 {
					margin-top: 15px;
					margin-left: 0;
				}
			}

			.icon {
				margin-right: 14px;
				margin-bottom: 3px;
				color: $c-accent;
				font-size: 13px;
				transition: color 0.2s;
			}
		}
	}
}

.podcast-details {
	@include media-max(767) {
		margin-bottom: 80px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		// max-width: 450px;
		margin: 0 auto;
		margin-top: 48px;
		margin-bottom: 64px;

		@include media-max(767) {
			margin-top: 32px;
			margin-bottom: 38px;
		}

		.header {
			&__title {
				margin-bottom: 10px;
				font-size: 48px;
				font-weight: 900;
				line-height: 66px;
				text-align: center;

				@include media-max(767) {
					font-size: 32px;
					line-height: 48px;
				}
			}

			&__subtitle {
				margin-bottom: 12px;
				font-size: 24px;
				font-weight: 500;
				line-height: 36px;

				@include media-max(767) {
					font-size: 18px;
					line-height: 30px;
				}
			}

			&__date {
				font-size: 16px;
				font-weight: 300;
				letter-spacing: 0;
				line-height: 22px;
			}
		}
	}

	&__content {
		margin-bottom: 80px;

		@include media-max(767) {
			margin-bottom: 80px;
		}

		.content-wrapper {
			> * {
				&:last-child {
					margin-bottom: 0;
				}
			}

			h2 {
				margin-bottom: 22px;
				font-size: 24px;
				font-weight: 900;
				line-height: 36px;
			}

			img {
				max-width: 100%;
				margin-top: 26px;
				margin-bottom: 42px;
			}

			p {
				margin-top: 0;
				margin-bottom: 32px;
				font-size: 16px;
				font-weight: 300;
				line-height: 26px;
				opacity: 0.8;
			}

			blockquote {
				margin-top: 45px;
				margin-bottom: 48px;
				padding: 8px 0 24px 16px;
				border-left: 2px solid #11b5b5;
				color: $c-black;
				font-size: 24px;
				font-weight: 900;
				line-height: 36px;
			}

			ol,
			ul {
				margin-bottom: 48px;
				padding-left: 18px;

				> li {
					margin-bottom: 12px;
					font-size: 16px;
					font-weight: 300;
					line-height: 26px;
					opacity: 0.8;

					&:last-of-type {
						margin-bottom: 0;
					}

					&::marker {
						color: #000000;
						font-size: 16px;
						font-weight: 900;
						line-height: 26px;
						opacity: 0.8;
					}
				}
			}
		}
	}

	&__subscribe {
		position: relative;
		padding: 96px 0;
		background: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);
		overflow: hidden;

		@include media-max(767) {
			padding: 80px 0;
		}

		.subscribe {
			display: flex;
			flex-direction: column;
			align-items: center;

			&__title {
				margin-bottom: 55px;
			}

			.btn {
				padding: 16px 60px 14px;
			}
		}
	}

	&__bottom-toolbar {
		margin-top: 96px;

		@include media-max(767) {
			margin-top: 80px;
		}

		> div {
			display: flex;
			align-items: center;
			padding: 15px 0;
			border-top: 1px solid rgba(#979797, 0.27);

			> span {
				&:first-of-type {
					min-width: 150px;
					color: #a7a7ac;
					font-size: 14px;
					font-weight: 500;
					line-height: 19px;
					text-transform: uppercase;

					@include media-max(450) {
						min-width: auto;
						margin-right: auto;
					}
				}
			}
		}
	}

	&__share {
		> a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 38px;
			height: 37px;
			margin-right: 16px;
			border: 1px solid rgba(#979797, 0.4);
			border-radius: 50%;

			&:last-of-type {
				margin-right: 0;
			}

			&:hover {
				.icon {
					opacity: 0.5;
				}
			}

			.icon {
				color: $c-black;
				font-size: 13px;
				transition: opacity 0.3s;
			}
		}
	}

	&__transcript {
		margin-top: 95px;
		margin-bottom: 95px;

		@include media-max(767) {
			margin-top: 80px;
		}

		.transcript {
			&__title {
				margin-bottom: 24px;
				font-size: 24px;
				font-weight: 900;
				letter-spacing: 0;
				line-height: 36px;
			}

			&__listing {
				display: flex;
				flex-direction: column;

				.part {
					display: flex;
					flex-direction: column;
					margin-bottom: 32px;
					font-size: 16px;
					font-weight: 300;
					letter-spacing: 0;
					line-height: 26px;

					&__text {
						margin: 0;

						p {
							color: rgba($c-black, 0.8);

							&:empty {
								margin-bottom: 30px;
							}
						}

						strong {
							color: $c-black;
							font-weight: 500;
						}
					}

					&__title {
						font-weight: 500;
						opacity: 1;
					}

					&__time {
						opacity: 0.8;
					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
