.u-section--press-publication {
	& + .u-section--press-release,
	& + .u-section--freemode-slider-with-images {
		margin-top: 140px;
	}
}

.press-publication__title {}

.press-publication-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}

@property --gradient-left {
	syntax: '<color>';
	inherits: false;
	initial-value: #5CE3B3;
}

@property --gradient-right {
	syntax: '<color>';
	inherits: false;
	initial-value: #44F3F3;
}

.press-publication-item {
	display: flex;
	align-items: center;
	position: relative;
	width: calc(50% - 12px);
	min-height: 128px;
	margin-top: 40px;
	border-radius: 6px;
	background-color: $c-white;
	box-shadow: 0 0 10px 0 rgba(134, 134, 183, 0.15);
	transition: box-shadow 0.2s;
	overflow: hidden;

	&::before {
		--gradient-left: #5CE3B3;
		--gradient-right: #44F3F3;

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
		background-image: linear-gradient(to right, var(--gradient-left) 0%, var(--gradient-right) 100%);
		transition: --gradient-left 0.4s, --gradient-right 0.4s;
	}

	img {
		display: block;
		width: 120px;
		height: auto;
	}

	&:hover {
		box-shadow: 0 5px 15px 0 rgba(134, 134, 183, 0.2);

		&::before {
			--gradient-left: #FF6C00;
			--gradient-right: #FFF200;
		}
	}
}

.press-publication-item__img-hld {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 182px;
}

.press-publication-item__text-hld {
	position: relative;
	width: calc(100% - 182px);
	padding: 24px 32px 24px 26px;

	&::before {
		content: '';
		position: absolute;
		top: 24px;
		bottom: 24px;
		left: 0;
		width: 1px;
		height: auto;
		background-color: $c-border;
	}

	.date {
		display: block;
		color: $c-gray;
		font-size: 14px;
		line-height: calc(24 / 14);

		& + .text {
			margin-top: 8px;
		}
	}

	.text {
		display: block;
		font-size: 16px;
		font-weight: 900;
		line-height: calc(26 / 16);
	}
}

.press-publication__btn-hld {
	display: flex;
	justify-content: center;
	margin-top: 80px;

	&.is-hidden {
		display: none;
	}
}

@include tablet-small-1023 {
	.press-publication-item {
		flex-direction: column;
	}

	.press-publication-item__img-hld {
		padding-top: 24px;
		padding-bottom: 18px;
	}

	.press-publication-item__text-hld {
		width: 100%;
		padding-right: 24px;
		padding-left: 24px;

		&::before {
			top: 0;
			right: 24px;
			bottom: auto;
			left: 24px;
			width: auto;
			height: 1px;
		}
	}
}

@include mobile-767 {
	.press-publication-list {
		margin-top: 24px;
	}

	.press-publication-item {
		width: 100%;
		margin-top: 24px;
	}

	.press-publication__btn-hld {
		margin-top: 48px;
	}
}
