.u-section--product-hero.u-section--product-hero {
	margin-top: 0;
	padding-top: 114px;
	padding-bottom: 56px;
	background-image: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);
	overflow: hidden;

	.is-page-product-posts---ambient-iot-network & {
		padding-top: 196px;
	}

	.is-page-product-posts & {
		.product-hero__content {
			grid-column: 2 / 8;
		}

		.product-hero__image {
			grid-column: 8 / 13;
		}
	}

	@include tablet-small-1023 {
		&.u-section--product-hero {
			margin-top: 0;
		}
	}

	@include media-max(899) {
		padding-top: 80px;
	}
}

.product-hero {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 24px;
	position: relative;

	@include media-max(850) {
		display: flex;
		flex-direction: column;
	}

	@include mobile-599 {
		align-items: flex-start;
	}

	&__content {
		display: flex;
		flex-direction: column;
		grid-column: 2 / 7;
		position: relative;

		@include tablet-small-1023 {
			.is-page-product-posts---ambient-iot-network & {
				width: 100%;
				text-align: center;
			}
		}

		@include media-max(899) {
			grid-column: 1 / 7;
		}
	}

	&__title {
		@include media-max(899) {
			font-size: 50px;
			line-height: 66px;
		}

		@include media-max(580) {
			font-size: 28px;
			line-height: 36px;
		}
	}

	&__subtitle {
		margin-bottom: 12px;
	}

	&__image {
		grid-column: 7 / 13;
		position: relative;
		z-index: 1;

		@include media-max(899) {
			width: 100%;
			max-width: 624px;
			margin: 0 auto;
			margin-top: 32px;
			padding: 0 20px;
		}
	}
}

.product-hero-bottom {
	position: relative;
	z-index: 1;
	margin-top: 100px;
	text-align: center;

	&__title {}

	&__description {
		max-width: 540px;
		margin: 0 auto;
		margin-top: 24px;
	}

	&__image {
		margin: 60px auto 0;

		@include mobile-959 {
			display: none;
		}

		&--mobile {
			display: none;

			@include mobile-959 {
				display: block;
				width: 100%;
				max-width: 400px;
				height: auto;
				padding: 0 20px;
			}
		}
	}
}
