.products-sections-hld {
	background: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);
	overflow: hidden;
}

.u-section--products-hero {
	margin-top: 0;
	padding-top: 140px;

	@include tablet-small-1023 {
		padding-top: 80px;
	}

	.products-hero {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 24px;
		position: relative;

		@include media-max(800) {
			display: flex;
			flex-direction: column;
		}

		&__content {
			display: flex;
			flex-direction: column;
			grid-column: 1 / 6;
			position: relative;
			max-width: 515px;
			margin-top: 170px;
			padding-left: 110px;

			@include media-max(1099) {
				margin-top: 125px;
				padding-left: 0;
			}

			@include media-max(899) {
				margin-top: 88px;
			}

			@include media-max(800) {
				margin-top: 0;
			}
		}

		&__title {
			@include media-max(899) {
				font-size: 50px;
				line-height: 66px;
			}
		}

		&__subtitle {
			margin-bottom: 12px;
		}

		&__image {
			grid-column: 6 / 13;
			position: relative;
			top: -25px;
			left: -20px;
		}
	}
}
