.u-section--process {
	padding-bottom: 76px;
	background-image: linear-gradient(180deg, #FFFFFF 0%, #F5F6FD 100%);

	+ .u-section--cards {
		margin-top: 76px;
	}

	.process {
		&__subtitle {
			text-align: left;
		}

		&__title {
			margin-bottom: 78px;

			@include mobile-767 {
				margin-bottom: 30px;
			}
		}

		.process-image {
			max-width: 100%;
		}

		.steps {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
			grid-gap: 50px 18px;

			@include media-max(1337) {
				grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
			}

			@include mobile-767 {
				margin-top: 30px;
			}

			&__step {
				.step {
					max-width: 300px;

					@include tablet-small-1023 {
						max-width: unset;
					}

					&__number {
						color: $c-accent;
						font-size: 24px;
						font-weight: 900;
						line-height: 36px;
					}

					&__title {
						color: $c-black;
						font-size: 24px;
						font-weight: 900;
						line-height: 36px;
					}

					&__description {
						max-width: 260px;
						margin-top: 10px;
						font-size: 16px;
						font-weight: 300;
						line-height: 26px;
						opacity: 0.8;

						@include tablet-small-1023 {
							max-width: unset;
						}

						h2,
						h3 {
							font-size: 32px;
							font-weight: 900;
							line-height: 40px;
						}
					}

					&__button {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						min-width: 270px;
						margin-top: 48px;
						padding: 16px 24px 14px;
					}
				}
			}
		}
	}
}
