.u-section--related-articles {}

.related-articles {
	&__main-title {
		max-width: 400px;
		margin: 0 auto;
		margin-top: 16px;
		text-align: center;
	}

	&__items-hld {
		display: flex;
		justify-content: space-between;
		margin-top: 62px;

		@include tablet-big {
			display: block;
			margin-top: 40px;
		}

		.left {
			width: 600px;

			@include tablet-big-1365 {
				width: 524px;
			}

			@include tablet-big {
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
			}
		}

		.right {
			width: calc(100% - 48px - 600px);

			@include tablet-big-1365 {
				width: calc(100% - 48px - 524px);
			}

			@include tablet-big {
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				margin-top: 24px;
			}
		}
	}

	&__item {
		display: flex;
		position: relative;
		border-radius: 10px;
		box-shadow: 0 0 10px 0 rgba(134, 134, 183, 0.15);
		transition: box-shadow 0.2s;

		@include tablet-big {
			// padding: 30px 0;

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 1px;
			// 	left: 10px;
			// 	width: calc(100% - 14px);
			// 	height: 1px;
			// 	background-color: $c-neutral-80;
			// }

			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -1px;
			// 	left: 10px;
			// 	width: calc(100% - 14px);
			// 	height: 1px;
			// 	background-color: $c-neutral-80;
			// }
		}

		@include mobile {
			flex-direction: column;
			align-items: center;
			max-width: 360px;
			margin: 0 auto;
		}

		&:hover {
			box-shadow: 0 16px 24px 0 rgba(134, 134, 183, 0.32);
		}

		&:first-of-type {
			padding-bottom: 30px;
		}

		&:nth-of-type(2) {
			padding: 30px 0;

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 1px;
			// 	left: 10px;
			// 	width: calc(100% - 14px);
			// 	height: 1px;
			// 	background-color: $c-neutral-80;

			// 	@include tablet-big {
			// 		display: none;
			// 	}
			// }

			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -1px;
			// 	left: 10px;
			// 	width: calc(100% - 14px);
			// 	height: 1px;
			// 	background-color: $c-neutral-80;

			// 	@include tablet-big {
			// 		display: none;
			// 	}
			// }
		}

		&:last-of-type {
			padding-top: 30px;
		}

		&.is-featured {
			display: block;
			height: 100%;
			padding: 0;

			@include tablet-big {
				display: flex;
				height: unset;
				// padding: 30px 0;
				// box-shadow: unset;
				padding-left: 304px;
			}

			@include mobile {
				padding-top: 170px;
				padding-left: 0;
			}

			&:hover {
				box-shadow: 0 16px 24px 0 rgba(134, 134, 183, 0.32);
			}

			.image-hld {
				width: 100%;
				// height: 342px;
				height: 296px;

				@include tablet-big {
					position: absolute;
					top: 0;
					left: 0;
					min-width: 304px;
					max-width: 304px;
					// height: 172px;
					// height: 148px;
					height: 100%;
				}

				@include mobile {
					min-width: 100%;
					max-width: 100%;
					height: 170px;
				}

				img {
					height: 100%;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;

					@include tablet-big {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						border-radius: 10px 0 0 10px;
					}

					@include mobile {
						border-radius: 10px 10px 0 0;
					}
				}
			}

			.text-hld {
				padding: 16px 36px 24px 24px;

				@include tablet-big {
					min-height: 170px;
					padding: 24px 16px 24px 24px;
				}

				@include mobile {
					min-height: 0;
					padding-left: 16px;
				}

				.date {
					display: block;
					margin-top: 12px;
					padding-left: 0;

					@include tablet-big {
						display: inline-block;
						margin-top: 0;
						padding-left: 8px;
					}
				}

				.title {
					margin-top: 8px;
					padding-bottom: 0;
					font-size: 32px;
					line-height: calc(40 / 32);

					@include tablet-big {
						margin-top: 14px;
						font-size: 20px;
						line-height: 1.5;
					}
				}
			}
		}

		&.is-normal {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 304px;
			box-shadow: 0 0 10px 0 rgba(134, 134, 183, 0.15);

			@include mobile {
				padding-top: 170px;
				padding-left: 0;
			}

			&:hover {
				box-shadow: 0 8px 16px 0 rgba(134, 134, 183, 0.32);
			}

			.image-hld {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				overflow: hidden;

				@include mobile {
					width: 100%;
					height: 170px;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					// height: calc(100% + 24px);
					max-height: unset;
					border-radius: 10px 0 0 10px;

					@include mobile {
						border-radius: 10px 10px 0 0;
					}
				}
			}

			.text-hld {
				padding-top: 24px;
				padding-right: 16px;
				padding-bottom: 24px;

				.title {
					padding-bottom: 0;
				}

				@include tablet-big {
					min-height: 170px;
				}

				@include mobile {
					min-height: 0;
					padding-left: 16px;
				}
			}

			& + .is-normal {
				margin-top: 24px;
			}
		}

		.image-hld {
			position: relative;
			min-width: 304px;
			max-width: 100%;
			// height: 172px;
			height: 148px;

			img {
				height: auto;
				max-height: 100%;
				border-radius: 10px;
			}

			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				color: $c-white;
				font-size: 106px;
				transform: translate(-50%, -50%);
			}
		}

		.text-hld {
			padding-left: 24px;

			// @include mobile {
			// 	margin-top: 20px;
			// }

			.label {
				display: inline-block;
				padding: 5px 12px 3px;
				border-radius: 4px;
				font-size: 12px;
				font-weight: 500;
				line-height: calc(16 / 12);

				&--very-dark {
					background-color: $c-neutral-10;
					color: $c-white;
				}

				&--medium {
					background-color: $c-accent;
					color: $c-white;
				}

				&--very-light {
					background-color: $c-blue-light-green;
					color: $c-black;
				}
			}

			.date {
				display: inline-block;
				padding-left: 8px;
				color: $c-gray;
				font-size: 16px;
				font-weight: 500;
			}

			.title {
				margin-top: 14px;
				padding-bottom: 12px;
				font-size: 20px;
				font-weight: 900;
				line-height: 1.5;

				@include mobile {
					padding-bottom: 0;
				}
			}

			.excerpt {
				margin-top: 16px;

				@include tablet-big {
					display: none;
				}
			}
		}
	}
}
