.u-section--search-results-bar {
	margin-top: 0;
	padding-top: 100px;
	padding-bottom: 0;
	background-color: $c-light;
}

.search-results-bar-hld {
	padding-top: 32px;
	padding-bottom: 24px;

	.search-bar {
		position: relative;
		z-index: 0;
		pointer-events: auto;
		width: auto;
		height: auto;
		background-color: transparent;
		transform: none;
		transition: none;

		.search-form__bar {
			background-color: $c-light;
		}

		.search-form__close {
			display: none;
		}
	}
}

.search-results__support-hld {
	display: flex;
	justify-content: center;
	margin-top: 24px;

	a {
		text-align: center;

		.text {
			color: $c-accent;
			transition: color 0.2s;
		}

		svg {
			position: relative;
			top: 3px;
			width: 16px;
			height: 16px;
			margin-left: 4px;
			fill: $c-accent;
			transition: fill 0.2s;
		}

		&:hover {
			.text {
				color: $c-accent-dark;
			}

			svg {
				fill: $c-accent-dark;
			}
		}
	}
}

.u-section--search-results {
	margin-top: 0;
	padding-top: 128px;
	padding-bottom: 128px;
}

.search-results {
	display: flex;
}

.search-results__sidebar {
	width: 216px;
	padding-right: 64px;
}

.search-results__sidebar-sticky {
	position: sticky;
	top: 140px;
}

.search-results__sidebar-title {
	display: block;
	color: rgba($c-black, 0.8);
	font-size: 16px;
	font-weight: 900;
	line-height: calc(26 / 16);
}

.search-results__sidebar-list {
	margin-top: 18px;

	li {
		padding-top: 6px;
		padding-bottom: 6px;

		&:not(.is-active) {
			cursor: pointer;
		}

		span {
			display: block;
			color: rgba($c-black, 0.8);
			font-size: 16px;
			font-weight: 400;
			line-height: calc(24 / 16);
			transition: color 0.2s;
		}

		&.is-active {
			span {
				font-weight: 900;
			}
		}

		&:not(.is-active) {
			&:hover {
				span {
					color: $c-accent;
				}
			}
		}
	}
}

.search-results__results-hld {
	width: calc(100% - 216px);
}

.search-results__title {}

.search-results__results {
	width: auto;
	margin-top: 48px;
	margin-left: -24px;
}

.search-results-item {
	display: block;
	position: relative;
	margin-top: -1px;
	padding: 32px 24px;
	border-radius: 6px;
	transition: background-color 0.2s, box-shadow 0.2s;

	&::before {
		content: '';
		position: absolute;
		right: 24px;
		bottom: 0;
		left: 24px;
		width: auto;
		height: 1px;
		background-color: #ebebeb;
		transition: opacity 0.2s;
	}

	&:hover {
		background-color: $c-white;
		box-shadow: 0 5px 20px 0 rgba(134, 134, 183, 0.15);

		&::before {
			opacity: 0;
		}
	}

	&.is-totally-hidden,
	&.is-capped {
		display: none;
	}
}

.search-results-item__title {
	display: block;
	max-width: 624px;
	font-size: 24px;
	font-weight: 500;
	line-height: calc(36 / 24);
}

.search-results-item__desc {
	max-width: 624px;
	margin-top: 12px;
	color: rgba($c-black, 0.8);
	font-size: 16px;
	font-weight: 400;
	line-height: calc(26 / 16);
}

.search-results__more-btn-hld {
	display: none;
	margin-top: 64px;

	&.is-visible {
		display: block;
	}
}

.search-results__more-btn {}

@include tablet-small {
	.u-section--search-results-bar.u-section {
		margin-top: 0;
		padding-top: 64px;
	}

	.u-section--search-results.u-section {
		margin-top: 0;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.search-results__results {
		margin-top: 24px;
	}
}

@include mobile {
	.u-section--search-results.u-section {
		padding-top: 64px;
	}

	.search-results__sidebar {
		display: none;
	}

	.search-results__results-hld {
		width: 100%;
	}

	.search-results__results {
		margin-left: 0;
	}

	.search-results-item {
		padding: 24px 0;

		&::before {
			right: 0;
			left: 0;
		}

		&:hover {
			box-shadow: none;
		}
	}

	.search-results__more-btn-hld {
		&.is-visible {
			display: flex;
		}

		justify-content: center;
		margin-top: 48px;
	}
}
