.u-section--solutions-other {
	margin-bottom: 135px;
}

.solutions-other {
	&__title {
		@include tablet-small-1023 {
			text-align: center;
		}
	}

	&__items-hld {
		display: flex;
		justify-content: space-between;
		margin-top: 55px;

		@include tablet-small-1023 {
			flex-direction: column;
			align-items: center;
			margin-top: 10px;
		}
	}

	.item {
		display: flex;
		position: relative;
		width: calc(50% - 15px);
		padding: 45px 30px 30px;

		@include tablet-medium-1199 {
			padding: 30px 10px;
		}

		@include tablet-small-1023 {
			flex-direction: column;
			align-items: center;
			width: 100%;
			max-width: 600px;
			margin-top: 20px;
			text-align: center;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
			border-radius: 12px;
			box-shadow: 0 0 10px 0 rgba(134, 134, 183, 0.15);
			transition: opacity 0.2s;
			opacity: 0;
		}

		&__image-hld {
			width: 155px;
			height: 155px;

			@include tablet-small-1023 {
				width: 100%;
				max-width: 250px;
			}

			img {
				width: 100%;
				height: 100%;
				border-radius: 8px;
				object-fit: contain;
			}
		}

		&__text-hld {
			width: calc(100% - 155px);
			padding-top: 10px;
			padding-right: 25px;
			padding-left: 35px;

			@include tablet-small-1023 {
				width: 100%;
			}
		}

		&__title {
			font-weight: 900;
		}

		&__description {
			margin-top: 5px;
		}

		&__btn {
			margin-top: 25px;
		}
	}
}
