.u-section--sticky-title-text {
	padding-top: 128px;
	padding-bottom: 128px;
	background-image: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);

	@include tablet-small {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.bg-shape {
		@include tablet-small {
			display: none;
		}
	}
}

.sticky-title-text {
	display: flex;

	@include tablet-small {
		flex-direction: column;
	}

	&__title-hld {
		flex: 1;
	}

	&__text-hld {
		flex: 1.45;

		@include tablet-small {
			margin-top: 30px;
		}

		br {
			content: '';
			display: block;
			margin-top: 14px;
		}
	}

	&__title {
		position: sticky;
		top: 100px;

		strong {
			color: $c-accent;
		}
	}
}
