.u-section--subscribe {
	margin-top: 285px;
	padding: 100px 0;
	background: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);
	overflow: hidden;

	&.u-section {
		@include media-max(767) {
			margin-top: 200px;
			padding: 80px 0;
		}
	}

	.subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			max-width: 438px;
			text-align: center;
		}

		&__button {
			margin-top: 55px;
			padding: 15px 60px;
		}
	}
}
