.u-section--subscribe {
	margin-top: 285px;
	padding: 100px 0;
	background: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);
	overflow: hidden;

	@include media-max(767) {
		margin-top: 200px;
		padding: 80px 0;
	}
}

.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		max-width: 438px;
		text-align: center;
	}

	&__button {
		margin-top: 55px;
		padding: 16px 60px 14px;
	}
}

.subscribe-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	transition: opacity 0.2s, visibility 0.2s;
	visibility: hidden;
	opacity: 0;

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $c-black;
		visibility: hidden;
		opacity: 0;
	}

	&.is-active {
		visibility: visible;
		opacity: 1;

		.overlay {
			visibility: visible;
			opacity: 0.75;
		}
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		padding: 10px;
		color: $c-white;
		font-size: 19px;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.7;
		}
	}

	&__inner {
		position: relative;
		width: 590px;
		padding: 70px 60px;
		background-color: $c-accent-dark;

		@include mobile-599 {
			max-width: 100%;
			padding: 15px;
		}
	}
	
	&__modal {
		position: relative;
		width: 100%;

		.title {
			padding-left: 30px;
			color: $c-white;
			font-size: 32px;
			font-weight: 900;
			letter-spacing: 0;
			line-height: 44px;
		}

		.form-hld {
			margin-top: 65px;
			padding: 0 30px;

			@include mobile-599 {
				margin-top: 10px;
				padding: 0;
			}

			.is-buy-page-form & {
				margin-top: 0;
			}

			.submitted-message,
			.submitted-message p {
				color: $c-white !important;
				font-family: $font-head !important;
				font-size: 16px !important;
				font-weight: 500 !important;
				letter-spacing: 0 !important;
				line-height: 26px !important;
				text-align: center !important;
			}

			h1 {
				margin-bottom: 20px;
				padding: 0 35px;
				color: $c-white;
				font-size: 32px;
				font-weight: 900;
				letter-spacing: 0;
				line-height: 44px;
				text-align: center;
			}

			.inputs-list {
				@include mobile-599 {
					margin-top: 10px;
				}
			}

			.hbspt-form .field,
			.hs-form .field {
				@include mobile-599 {
					margin-bottom: 20px;
				}
			}

			img {
				display: none !important;
			}

			.hs-podcast-text {
				margin-bottom: 20px;
				text-align: left !important;
			}

			.hs-error-msgs label {
				font-size: 12px;
			}

			.hs_firstname,
			.hs_lastname {
				display: inline-block;
				width: calc(50% - 10px);
				margin-bottom: 40px;
			}

			.hs_firstname {
				margin-right: 10px;
			}

			.hs_lastname {
				margin-left: 10px;
			}

			.legal-consent-container {
				margin-top: 65px;

				@include mobile-599 {
					margin-top: 30px;
				}

				.hs-richtext {
					&:first-of-type {
						display: none;
					}

					&:last-of-type {
						margin-top: 20px;
					}
				}
			}

			.hs_submit {
				margin-top: 40px;

				@include mobile-599 {
					margin-top: 20px;
				}
			}
		}
	}
}
