.swiper-examples {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__slider-hld {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 30px 0;
	}
    
	&__slider {
		width: 100%;
	}
    
	&__slider-item {
		border: 2px solid $c-black;
		border-radius: 15px;
	}
    
	&__title {
		margin-top: 15px;
		font-family: $font-head;
	}
}
