.u-section--tabs {
	margin-top: 120px;
	padding: 96px 0 128px 0;
	background-image: radial-gradient(circle, #f5f5fc 0%, #f5f9fc 100%);
	overflow: hidden;

	@include media-max(767) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	+.u-section--outro {
		margin-top: 0;

		.is-page-applications-posts-v3 & {
			margin-top: 120px;

			@include mobile-767 {
				margin-top: 60px;
			}
		}
	}

	+.u-section--buy-tiles {
		padding-top: 120px;

		@include media-max(767) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}

	.is-page-homepage &,
	.is-page-applications-posts-v3 & {
		margin-top: 130px;
		padding-top: 0;
		padding-bottom: 0;
		background-image: none;
	}

	.is-page-product & {
		margin-top: 0;
		padding-top: 130px;
		padding-bottom: 0;
		background: $c-white;

		.bg-shape {
			display: none;
		}
	}

	.is-page-partner & {
		margin-top: 160px;
		padding-top: 134px;

		@include mobile-767 {
			margin-top: 80px;
			padding-top: 80px;
		}
	}

	.tabs {
		display: flex;
		flex-direction: column;

		&__title {
			max-width: 540px;
			margin: 0 auto;
			text-align: center;

			@include mobile-599 {
				font-size: 28px;
				line-height: 36px;
			}
		}

		&__nav {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 44px;
			margin-bottom: 80px;
			border-bottom: 1px solid rgba(#979797, 0.27);

			@include media-max(767) {
				margin-bottom: 48px;
			}
		}

		&__nav-item {
			display: flex;
			flex: 1 1 0;
			flex-direction: column;
			justify-content: center;
			position: relative;
			cursor: pointer;
			padding: 20px 0;

			.text {
				color: $c-gray;
				font-size: 16px;
				font-weight: 500;
				line-height: 26px;
				text-align: center;

				@include tablet-small-1023 {
					font-size: 13px;
				}

				@include media-max(767) {
					display: none;
				}
			}

			.icon-hld {
				margin-bottom: 8px;

				@include media-max(767) {
					margin-bottom: 0;
				}

				.icon {
					margin: 0 auto;
					filter: brightness(0);
					transition: opacity 0.2s;
					opacity: 0.4;
				}
			}

			&.is-active {
				.icon {
					opacity: 1;
				}

				&::after {
					content: '';
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $c-black;
				}

				>.text {
					color: $c-black;
					font-weight: 900;
				}
			}
		}

		.tab {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0 24px;

			@include media-max(767) {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__image {
				width: 100%;

				@include media-max(767) {
					width: 100%;
					max-width: 442px;
				}

				>img {
					max-width: 100%;
					height: auto;
					border-radius: 8px;

					@include media-max(767) {
						padding-right: 0;
					}
				}
			}

			&__content {
				display: flex;
				flex-direction: column;
				margin-top: 20px;
				padding-left: 108px;

				@include media-max(1100) {
					padding-left: 62px;
				}

				@include media-max(900) {
					padding-left: 48px;
				}

				@include media-max(767) {
					width: 100%;
					max-width: 442px;
					margin-top: 32px;
					padding-left: 0;
				}

				.is-page-homepage &,
				.is-page-applications-posts-v3 & {
					margin-top: 0;

					@include media-max(767) {
						margin-top: 32px;
					}
				}
			}

			&__title {
				margin-bottom: 24px;
				font-size: 24px;
				font-weight: 900;
				line-height: 36px;

				@include mobile-599 {
					font-size: 22px;
					line-height: 34px;
				}

				.is-page-homepage &,
				.is-page-applications-posts-v3 & {
					display: none;

					@include media-max(767) {
						display: block;
					}
				}
			}

			&__description {
				margin-bottom: 40px;
				font-size: 16px;
				font-weight: 300;
				line-height: 26px;
				opacity: 0.8;

				@include mobile-599 {
					margin-bottom: 24px;
					font-size: 14px;
					line-height: 24px;
				}

				ul {
					margin-left: 22px;

					li {
						position: relative;
						padding-left: 0;

						&:not(:first-child) {
							margin-top: 10px;
						}

						&::before {
							content: '';
							position: absolute;
							top: 10px;
							left: -22px;
							pointer-events: none;
							width: 4px;
							height: 4px;
							border-radius: 50%;
							background-color: $c-accent;
						}
					}
				}
			}

			&__link {
				font-size: 16px;
				font-weight: 500;
				line-height: 26px;

				.icon {
					margin-left: 4px;
					font-size: 12px;
				}

				@include mobile-599 {

					.text,
					.icon {
						color: $c-black;
					}
				}
			}
		}

		.btn--explore {
			margin: 0 auto;
			margin-top: 80px;
			padding: 16px 40px 14px;

			.is-page-partner & {
				@extend .u-btn--accent;

				border: 0;
			}

			@include mobile-599 {
				margin-top: 30px;
			}
		}
	}
}
