.u-section--videos {
	padding: 96px 0;
	background: radial-gradient(circle, #F5F5FC 0%, #F5F9FC 100%);

	.videos-section-title {
		max-width: 605px;
		margin: 16px auto 0 auto;
	}

	.videos-section-title,
	.videos-section-subtitle {
		display: block;
		text-align: center;
	}

	.video-hld {
		position: relative;
		width: 100%;
		height: 100%;

		&:hover {
			.icon {
				color: rgba($c-white, 0.75);
			}
		}

		video {
			cursor: pointer;
			width: 100%;
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			pointer-events: none;
			color: $c-white;
			font-size: 172px;
			transform: translate(-50%, -50%);
			transition: opacity 0.2s, color 0.2s;
			opacity: 0;
		}

		.video-number {
			position: absolute;
			top: 12px;
			left: 12px;
			pointer-events: none;
			color: $c-accent;
			font-size: 32px;
			font-weight: 900;
			line-height: 40px;

			@media not all and (min-resolution: 0.001dpcm) {
				right: 12px;
				left: unset;
			}
		}

		.thumbnail {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&.show-thumbnail {
			.thumbnail {
				display: initial;
			}
		}

		&.is-paused {
			.icon {
				opacity: 1;
			}
		}
	}

	.main-video {
		width: 100%;
		margin-top: 64px;

		.video-number {
			top: 24px;
			left: 24px;
			font-size: 56px;
			line-height: 72px;

			@media not all and (min-resolution: 0.001dpcm) {
				right: 24px;
				left: unset;
			}
		}

		&__desc {
			margin-top: 16px;
			font-weight: 500;
			opacity: 0.8;
		}
	}

	.video-buttons {
		display: flex;
		justify-content: center;
		margin-top: 30px;

		a {
			margin: 0 12px;
		}

		// @include tablet-small-1023 {
		@include media-max(1100) {
			flex-direction: column;
			align-items: center;

			a {
				margin: 12px 0;
			}
		}
	}

	.videos-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		margin-top: 64px;
		column-gap: 36px;
		row-gap: 36px;

		@include tablet-small-1023 {
			grid-template-columns: 1fr;
		}

		&__item {
			max-width: 330px;
		}

		.video-hld {
			max-height: 185px;

			video {
				width: 100%;
			}
		}

		.video-desc {
			margin-top: 16px;
			font-weight: 500;
			opacity: 0.8;
		}
	}
}
