.u-section--video {
}

.video {
	&__hld {
		position: relative;
		width: 100%;

		&:hover {
			.icon {
				color: rgba($c-white, 0.75);
			}
		}

		video {
			cursor: pointer;
			width: 100%;
			height: auto;
			max-height: 505px;
			object-fit: cover;
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			pointer-events: none;
			color: $c-white;
			font-size: 172px;
			transform: translate(-50%, -50%);
			transition: opacity 0.2s, color 0.2s;
			opacity: 0;
		}

		&.is-paused {
			.icon {
				opacity: 1;
			}
		}
	}
}
