@import '../base/variables';
@import '../base/mixins';

.u-section--bb-brief-history {
	padding-top: 180px;
	padding-bottom: 168px;
	background-image: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);

	@include tablet-small {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.bg-shape {
		@include tablet-small {
			display: none;
		}
	}
}

.bb-brief-history {
	&__main-title {
		font-size: 42px;
		font-weight: 900;
		line-height: 1.2;

		@include mobile {
			font-size: 32px;
		}

		strong {
			color: $c-accent;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;

		@include tablet-big {
			grid-gap: 30px;
		}

		@include tablet-small {
			flex-direction: column;
		}

		&.is-even {
			flex-direction: row-reverse;

			@include tablet-small {
				flex-direction: column;
			}
		}

		+ .bb-brief-history__row {
			margin-top: 84px;

			@include tablet-small {
				margin-top: 30px;
			}
		}
	}

	&__text {
		flex: 1;
		max-width: 596px;

		@include tablet-small {
			max-width: 100%;
		}

		.is-odd & {
			margin-top: 52px;

			@include tablet-small {
				margin-top: 30px;
			}
		}

		.is-even & {
			transform: translateX(60px);

			@include tablet-big {
				transform: none;
			}
		}

		p + p {
			margin-top: 12px;
		}
	}

	&__image-hld {
		flex: 1;
		max-width: 474px;

		.is-even & {
			max-width: 516px;
		}

		img {
			display: block;
			width: 100%;
			height: auto;

			@include tablet-small {
				width: auto;
				height: 300px;
			}

			.is-odd & {
				transform: translate(22px, -32px);

				@include tablet-big {
					transform: none;
				}
			}
		}
	}
}
