@import '../base/variables';
@import '../base/mixins';

.u-section--bb-deployment {
	margin-top: 160px;

	@include tablet-big {
		margin-top: 80px;
	}
}

.bb-deployment {
	&__item {
		display: flex;

		@include tablet-big {
			grid-gap: 30px;
		}

		@include tablet-small {
			flex-direction: column;
		}

		.item-text-hld {
			flex: 1;
		}

		.item-title {
			font-size: 32px;
			font-weight: 900;
			line-height: 1.25;

			br {
				@include tablet-small {
					display: none;
				}
			}
		}

		.item-text {
			margin-top: 16px;

			p {
				max-width: 530px;

				@include tablet-small {
					max-width: 100%;
				}
			}

			ul {
				max-width: 632px;
				margin-top: 20px;

				@include tablet-small {
					min-width: 100%;
				}

				li {
					position: relative;
					margin-top: 12px;
					padding-left: 28px;
					line-height: calc(26 / 16);

					&::before {
						content: '';
						position: absolute;
						top: 8px;
						left: 4px;
						pointer-events: none;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: #313131;
					}
				}
			}
		}

		.image-hld {
			width: 506px;
			margin-top: 12px;
			margin-right: 4px;

			@include tablet-big {
				width: 400px;
				max-width: 100%;
				margin-top: 0;
				margin-right: 0;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		&.is-even {
			flex-direction: row-reverse;
			margin-top: 118px;

			@include tablet-big {
				margin-top: 60px;
			}

			@include tablet-small {
				flex-direction: column;
				margin-top: 30px;
			}

			.item-text-hld {
				margin-top: 6px;
				margin-left: 60px;

				@include tablet-big {
					margin-top: 0;
					margin-left: 0;
				}
			}

			.item-text {
				margin-top: 22px;

				@include tablet-big {
					margin-top: 0;
				}

				p {
					max-width: 690px;

					@include tablet-big {
						max-width: 100%;
					}
				}

				ul {
					max-width: 702px;
					margin-top: 30px;

					@include tablet-big {
						max-width: 100%;
					}
				}
			}

			.image-hld {
				width: 412px;
				margin-top: 0;
				margin-right: 0;

				@include tablet-big {
					width: 400px;
				}
			}
		}
	}
}
