@import '../base/variables';
@import '../base/mixins';

.u-section--become-a-partner {
	margin-top: 0;
	padding-top: 220px;
	padding-bottom: 200px;
	overflow: hidden;

	@include tablet-small-1023 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.become-a-partner {
	&__text-hld {
		text-align: center;
	}

	&__title {
		max-width: 400px;
		margin-top: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	&__form-hld {
		margin-top: 60px;
	}

	&__form {
		padding: 80px 110px;
		background-color: $c-accent-dark;

		@include mobile-599 {
			padding: 50px 30px 50px;
		}

		iframe {
			width: 100% !important;
		}
	}
}
