@import '../base/variables';
@import '../base/mixins';
@import '../base/utilities';

.u-section--buy-tiles {
	margin-top: 0;
	padding-top: 260px;
	padding-bottom: 100px;
	overflow: hidden;

	.is-page-partner & {
		margin-top: 130px;
		padding-top: 0;
		padding-bottom: 66px;

		.bg-shape {
			display: none;
		}
	}

	+.u-section--outro {
		margin-top: 60px;
	}

	@include tablet-small-1023 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.buy-tiles {
	&__text-hld {
		.subtitle {
			.is-page-partner & {
				@extend .u-subtitle--section;

				text-align: left;
			}
		}

		.title {
			margin-top: 15px;

			.is-page-partner & {
				max-width: 630px;
				font-size: 32px;
				line-height: calc(40 / 32);
			}
		}
	}

	&__tiles-hld {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(410px, 0.6fr));
		grid-gap: 25px;
		margin-top: 88px;

		@include mobile {
			margin-top: 56px;
		}

		@include media-max(475) {
			grid-template-columns: minmax(250px, 1fr);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding: 50px 45px 65px;
		border-radius: 6px;
		background-color: $c-white;
		box-shadow: $box-shadow;
		text-align: center;

		.is-page-partner & {
			padding: 60px 45px 80px;
		}

		@include media-max(475) {
			padding: 30px 15px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			width: 100%;
			height: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background-image: linear-gradient(to right, $c-green, $c-accent-light);
			transition: opacity 0.35s;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			width: 100%;
			height: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			background-image: linear-gradient(to right, $c-orange, $c-yellow);
			transform-origin: right;
			transition: opacity 0.35s;
			opacity: 0;
		}

		&:hover {
			&::before {
				opacity: 0;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	.item {
		&__number {
			color: $c-accent;
			font-family: $font-head;
			font-size: 31px;
			font-weight: 500;
			letter-spacing: 1.6px;
			line-height: 1.2;
		}

		&__icon {
			width: auto;
			height: 40px;
		}

		&__title {
			margin-top: 42px;
			font-size: 24px;
			font-weight: 900;
			line-height: 36px;

			@include media-max(475) {
				margin-top: 20px;
			}
		}

		&__description {
			margin-top: 25px;
			margin-bottom: 40px;

			@include media-max(475) {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			&--bottom {
				position: relative;
				margin-top: 40px;

				&::before {
					content: '';
					position: absolute;
					top: -20px;
					left: 50%;
					pointer-events: none;
					width: calc(100% - 170px);
					height: 1px;
					background-color: $c-border;
					transform: translateX(-50%);
				}
			}

			.modal-btn {
				cursor: pointer;
				transition: opacity 0.2s;

				&:hover {
					opacity: 0.7;
				}
			}
		}

		&__btn {
			min-width: 192px;
			margin-top: auto;

			.is-page-partner & {
				padding: 16px 75px 14px;
				border: 1px solid rgba($c-black, 0.6);
				border-radius: 30px;
				background-color: transparent;
				transition: background-color 0.2s, border-color 0.2s;

				.text {
					color: $c-black;
				}

				&:hover {
					border-color: $c-accent;
					background-color: $c-accent;

					.text {
						color: $c-white;
					}
				}
			}
		}

		&__buttons-hld {
			display: flex;
			flex-direction: column;

			.btn {
				margin-top: 12px;

				.text {
					display: inline-block;

					@extend .icon-arrow-right-after !optional;

					position: relative;

					&::before {
						display: none;
					}

					&::after {
						display: inline-block;
						position: relative;
						margin-left: 8px;
						font-family: 'icomoon', sans-serif;
						font-size: 12px;
						transition: transform 0.2s;
					}
				}

				&:hover {
					.text {
						&::after {
							transform: translateX(2px);
						}
					}
				}
			}
		}

		&:last-of-type {
			svg {
				width: 44px;
				height: auto;
			}

			&:hover {
				svg {
					path {
						fill: $c-orange;
						stroke: inherit;
					}
				}
			}
		}

		&:hover {
			svg {
				path {
					stroke: $c-orange;
				}

				#Buy-Page-circles {
					#Oval {
						stroke: $c-accent;
					}
				}
			}
		}
	}
}
