@import '../base/variables';
@import '../base/mixins';

.u-section--highlighter {
	margin-top: 196px;
	padding-top: 78px;
	padding-bottom: 74px;
	background-color: #337576;
}

.highlighter {
	display: flex;

	@include tablet-small {
		flex-direction: column;
		grid-gap: 30px;
	}

	&__main-title {
		width: 354px;
		padding-right: 30px;
		color: $c-white;
		font-size: 32px;
		font-weight: 900;
		line-height: 1.25;

		@include tablet-big {
			max-width: 100%;
			padding-right: 0;
		}

		@include tablet-small {
			width: 100%;
		}

		strong {
			color: $c-accent;
		}
	}

	&__main-text {
		flex: 1;
		padding-right: 12px;
		color: $c-white;

		@include tablet-big {
			padding-right: 0;
		}

		p {
			+ p {
				margin-top: 12px;
			}
		}
	}
}
