@import '../base/variables';
@import '../base/mixins';

.u-section--latest-podcasts {
	margin-top: 120px;
	padding: 96px 0 128px 0;
	background-image: radial-gradient(circle, #f5f5fc 0%, #f5f9fc 0%);
	overflow: hidden;
}

.latest-podcasts-hld {}

.latest-podcasts__subtitle {}

.latest-podcasts__title {}

.latest-podcasts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0 24px;
	margin-top: 56px;
}

.podcast-item {}

.podcast-item__text-hld {
	padding-top: 16px;
}

.podcast-item__date {
	color: #9b9b9b;
	font-size: 16px;
	line-height: calc(26 / 16);
}

.podcast-item__title {
	display: block;
	min-height: 52px;
	margin-top: 8px;
	color: #000;
	font-size: 16px;
	font-weight: 900;
	line-height: calc(26 / 16);
}

.podcast-item__excerpt {
	margin-top: 8px;
	color: rgba($c-black, 0.8);
	font-size: 16px;
	line-height: calc(26 / 16);
}

.latest-podcasts__btn-hld {
	display: flex;
	justify-content: center;
	margin-top: 72px;
}

@include tablet-small {
	.u-section.u-section--latest-podcasts {
		margin-top: 128px;
	}
}

@include mobile {
	.u-section.u-section--latest-podcasts {
		margin-top: 96px;
		padding-bottom: 96px;
	}

	.latest-podcasts {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 32px 0;
		margin-top: 40px;
	}

	.podcast-item__title {
		min-height: 0;
	}

	.latest-podcasts__btn-hld {
		margin-top: 48px;
	}
}
