@import '../base/variables';
@import '../base/mixins';

.u-section--partners-details-form-outro {
	margin-top: 95px;
	padding-top: 100px;
	padding-bottom: 95px;
	background-color: $c-accent-dark;

	@include mobile-767 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.partners-details-form-outro {
	color: $c-white;
	text-align: center;

	.subtitle {
		margin-top: 15px;
	}

	.form-hld {
		max-width: 520px;
		margin: 50px auto 0;

		form {
			display: flex;
			flex-wrap: wrap;
		}

		.field {
			width: 100%;

			&.hs_firstname,
			&.hs_lastname {
				// display: inline-block;
				width: calc(50% - 10px);
			}
		}

		.hs_firstname {
			margin-right: 10px;
		}

		.hs_lastname {
			margin-left: 10px;
		}

		.hs-richtext {
			&:first-child {
				margin-top: 0;
			}
		}

		.hs-submit {
			width: 100%;
		}

		.hbspt-form .hs_message textarea,
		.hs-form .hs_message textarea {
			height: 85px !important;
		}

		.hbspt-form .field .hs-error-msgs label,
		.hs-form .field .hs-error-msgs label {
			font-size: 12px;
		}

		.hbspt-form .hs-fieldtype-booleancheckbox label,
		.hs-form .hs-fieldtype-booleancheckbox label {
			justify-content: center;
		}
	}
}
