@import '../base/variables';
@import '../base/mixins';

.u-section--press-kit {
	padding: 120px 0 140px;
	background: linear-gradient(188.82deg, #f5f5fc 0%, #f5f9fc 100%);

	@include media-max(767) {
		padding: 80px 0;
	}

	.press-kit {
		&__title {
			text-align: center;
		}

		&__assets-hld {
			width: 100%;
			margin-top: 62px;

			@include media-max(767) {
				margin-top: 32px;
			}
		}

		&__subtitle {
			display: flex;
			align-items: center;
			min-height: 68px;
			margin-top: 30px;
			margin-bottom: 16px;
			padding: 0 16px;
			border-radius: 6px;
			background-color: $c-blue-lighter-green;

			@include mobile-767 {
				min-height: 56px;
				margin-top: 24px;
				margin-bottom: 12px;
			}

			&--industries-guidelines {
				background-color: $c-blue-light-green;
			}

			&--case-studies {
				background-color: #AFFBE2;
			}

			&--assets {
				background-color: $c-blue-green;
			}

			&--video {
				background-color: $c-blue-green-strong;
			}

			.subtitle {
				margin-top: 4px;
				margin-left: 8px;
				font-size: 24px;
				font-weight: 500;
				letter-spacing: 0.35px;

				@include mobile-767 {
					font-size: 20px;
				}
			}
		}

		&__asset {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 18px 16px 14px;
			border-bottom: 1px solid $c-neutral-80;
			transition: background-color 0.2s;

			@include mobile-767 {
				flex-direction: column;
				align-items: flex-start;
			}

			&:hover {
				background-color: #F5FCFC;

				.image-hld {
					opacity: 1;
				}
			}

			.title {
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 0.25px;
			}

			.image-hld {
				position: absolute;
				top: 16px;
				left: 372px;
				z-index: 1;
				pointer-events: none;
				width: 304px;
				height: auto;
				background-color: #F5FCFC;
				transition: opacity 0.2s;
				opacity: 0;

				@include mobile-767 {
					display: none;
				}
			}

			.buttons-hld {
				.btn {
					transition: opacity 0.2s;

					&:hover {
						opacity: 0.5;
					}

					&:not(:first-of-type) {
						padding-left: 12px;

						@include mobile-767 {
							padding-left: 4px;
						}
					}

					&:not(:last-of-type) {
						padding-right: 12px;

						@include mobile-767 {
							padding-right: 4px;
						}
					}

					svg {
						width: 16px;
						height: 16px;
						transform: translate(-2px, 3px);
					}

					.text {
						color: $c-accent;
						font-size: 16px;
						font-weight: 500;

						@include mobile-767 {
							font-size: 14px;
						}
					}
				}
			}
		}

		&__btn {
			display: flex;
			align-items: center;
			position: relative;
			color: #11b5b5;
			font-size: 16px;
			font-weight: 500;
			line-height: 26px;
			transition: color 0.2s;

			&:hover {
				color: $c-accent-light;
			}

			.icon {
				display: block;
				margin-top: -3px;
				margin-right: 4px;
				font-size: 12px;
				transform: rotate(90deg);
			}
		}

		&__videos-hld {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 24px;
			width: 100%;
			margin-top: 32px;

			@include media-max(767) {
				grid-template-columns: repeat(1, 1fr);
				max-width: 516px;
				margin: 0 auto;
			}

			.video {
				display: flex;
				flex-direction: column;

				.asset {
					display: flex;
					position: relative;
					cursor: pointer;
					width: 100%;

					&:first-of-type {
						&::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							z-index: 1;
							pointer-events: none;
							width: 1px;
							height: 100%;
							background-color: $c-light;
						}
					}

					&:hover {
						.icon {
							color: rgba($c-white, 0.75);
						}
					}

					video {
						width: 100%;
						height: auto;
						max-height: 505px;
						border-radius: 8px;
						object-fit: cover;
					}

					.icon {
						position: absolute;
						top: 50%;
						left: 50%;
						pointer-events: none;
						color: $c-white;
						font-size: 172px;
						transform: translate(-50%, -50%);
						transition: opacity 0.2s, color 0.2s;
						opacity: 0;

						@include mobile-767 {
							font-size: 100px;
						}
					}

					&.is-paused {
						.icon {
							opacity: 1;
						}
					}
				}

				.content {
					display: flex;
					justify-content: space-between;
					width: 100%;
					margin-top: 10px;
					padding: 0 8px;

					@include mobile-767 {
						flex-direction: column;
					}
				}

				.title {
					padding-right: 58px;
					font-size: 16px;
					font-weight: 500;
					letter-spacing: 0.25px;
					line-height: calc(26 / 16);

					@include mobile-767 {
						padding-right: 0;
					}
				}

				.btn {
					display: flex;
					margin-left: auto;

					@include mobile-767 {
						margin-top: 8px;
					}

					svg {
						width: 16px;
						height: 16px;
						transform: translate(-6px, 4px);
					}

					.text {
						color: $c-accent;
						font-size: 16px;
						font-weight: 500;

						@include mobile-767 {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
