@import '../base/variables';
@import '../base/mixins';

.is-page-privacy {
	.hero {
		&__text-hld {
			text-align: center;
		}

		&__title {
			max-width: unset;
			font-size: 48px;
			font-weight: 900;
			line-height: 66px;
			text-transform: uppercase;

			@include mobile-599 {
				font-size: 32px;
				line-height: 40px;
			}
		}

		&__description {
			max-width: unset;
			margin-top: 5px;
		}
	}
}

.u-section--privacy-content {
	margin-top: 50px;
	margin-bottom: 110px;
	overflow: hidden;
}

.privacy-content {
	padding: 0 108px;

	@include media-max(767) {
		margin-bottom: 48px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include media-max(767) {
		padding: 0 54px;
	}

	@include media-max(480) {
		padding: 0;
	}

	.line {
		position: relative;
		margin: 0;
		margin-top: 95px;
		padding-bottom: 35px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -50vw;
			pointer-events: none;
			width: 150vw;
			height: 1px;
			background-color: $c-gray;
		}
	}

	h2 {
		margin-top: 65px;
		margin-bottom: 25px;
		font-size: 24px;
		font-weight: 900;
		line-height: 36px;
	}

	figure {
		max-width: 100%;
		margin-top: 45px;

		+ figure {
			margin-top: 25px;
		}

		+ p {
			margin-top: 40px;
		}
	}

	figcaption {
		margin-top: 10px;
		color: rgba($c-black, 0.6);
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 0;
		line-height: 19px;
		text-align: center;
	}

	p {
		margin-top: 25px;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
		opacity: 0.8;

		+ p {
			margin-top: 20px;
		}
	}

	a {
		color: $c-accent;
		transition: color 0.2s;

		&:hover {
			color: $c-accent-dark;
		}
	}

	blockquote {
		margin-top: 45px;
		margin-bottom: 45px;
		padding: 8px 0 24px 16px;
		border-left: 2px solid #11b5b5;
		color: $c-black;
		font-size: 24px;
		font-weight: 900;
		line-height: 36px;
	}

	ol,
	ul {
		margin-top: 25px;
		padding-left: 18px;

		> li {
			margin-bottom: 12px;
			padding-left: 5px;
			font-size: 16px;
			font-weight: 300;
			line-height: 26px;
			opacity: 0.8;

			&:last-of-type {
				margin-bottom: 0;
			}

			&::marker {
				color: #000000;
				font-size: 16px;
				font-weight: 900;
				line-height: 26px;
				opacity: 0.8;
			}
		}
	}

	ul {
		margin-top: 45px;

		li {
			position: relative;
			padding-left: 0;

			&::before {
				content: '';
				position: absolute;
				top: 10px;
				left: -17px;
				pointer-events: none;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $c-black;
			}
		}
	}
}
