@import '../base/variables';
@import '../base/mixins';

.u-section--related-news {
	margin-bottom: 96px;

	@include media-max(767) {
		margin-bottom: 56px;
	}

	.related-news__listing {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0 78px;
		margin-top: 56px;

		@include media-max(1100) {
			grid-gap: 0 24px;
		}

		@include media-max(767) {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 32px 0;
		}
	}

	.related-news__subtitle {
		display: block;
		margin-bottom: 16px;
		text-align: left;
	}

	.related-news__title {
		font-size: 32px;
		font-weight: 900;
		line-height: 40px;
	}

	.post {
		&__image-hld {
			height: auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&__date {
			margin-top: 15px;
			padding-right: 5px;
			color: $c-gray;
			font-weight: 500;
		}

		&__title {
			margin-top: 5px;
			padding-right: 5px;
			font-size: 24px;
			font-weight: 900;
			line-height: 36px;
		}

		&__description {
			margin-top: 5px;
			padding-right: 5px;
		}

		&__btn {
			margin-top: 20px;
		}

		&:hover {
			.post__btn {
				.text {
					color: $c-accent-light;
				}
			}
		}
	}
}
