@import '../base/variables';
@import '../base/mixins';

.supply-chain-animation {
	&__animation-hld {
		position: relative;

		.animation {
			&--desktop {
				height: 400px;

				@include mobile {
					display: none;
				}
			}

			&--mobile {
				display: none;

				@include mobile {
					display: block;
				}
			}
		}

		.label-hover-area {
			position: absolute;
			z-index: 99991;

			&[data-label='warehouse'] {
				bottom: 4%;
				left: 8%;
				width: 12%;
				height: 38%;
			}

			&[data-label='transport'] {
				bottom: 4%;
				left: 30%;
				width: 12%;
				height: 35%;
			}

			&[data-label='distribution'] {
				bottom: 25%;
				left: 42%;
				width: 16%;
				height: 42%;
			}

			&[data-label='return'] {
				bottom: 4%;
				left: 59%;
				width: 15%;
				height: 34%;
			}

			&[data-label='home'] {
				bottom: 4%;
				left: 82%;
				width: 14%;
				height: 41%;
			}

			&[data-label='store'] {
				top: 16%;
				left: 80%;
				width: 12%;
				height: 33%;
			}

			&[data-label='delivery'] {
				top: 9%;
				left: 62%;
				width: 10%;
				height: 33%;
			}

			&[data-label='farm'] {
				top: 13%;
				left: 27%;
				width: 8%;
				height: 25%;
			}

			&[data-label='processing'] {
				top: 19%;
				left: 8%;
				width: 13%;
				height: 29%;
			}
		}
	}
}

.supply-chain-animation-labels-hld {
	.label {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 9999;
		pointer-events: none;
		width: 646px;
		min-height: 168px;
		padding: 20px;
		background-color: $c-white;
		box-shadow: 0 0 32px 0 #8686B752;
		transform: translate(-50%, -50%);
		visibility: hidden;
		opacity: 0;
		gap: 20px;
		transition: .4s;

		&.is-active {
			pointer-events: all;
			visibility: visible;
			opacity: 1;
		}

		.image-hld {
			min-width: 120px;
			height: 120px;
		}

		.text-hld {
			.title {
				columns: $c-black;
				font-size: 20px;
				font-weight: 900;
			}

			.description {
				margin-top: 10px;
				color: $c-black;
				font-size: 14px;
				line-height: calc(20 / 14);
			}
		}
	}
}
