{% set careersTitle = entry.careersTitle %}
{% set careersDescription = entry.careersDescription %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--careers-listing">
	<div class="careers-listing">
		<div class="u-wrapper">
			<div class="careers-listing__text-hld">
				<div class="title u-title u-title--section">{{ careersTitle }}</div>
				<div class="description">{{ careersDescription }}</div>
			</div>
			<div class="careers-listing__filters-hld is-hidden js-careers-listing-filters-hld">
				<div class="filter-item-chosen">
					<span class="title">Work from:</span>
					<div class="chosen">
						<span class="text js-careers-listing-filters-chosen">All locations</span>
						<div class="filters-dropdown js-careers-listing-filters-dropdown is-hidden"></div>
					</div>
				</div>
			</div>
			<div class="careers-listing__items-hld hidden js-careers-listing"></div>
		</div>
	</div>
</section>
