<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--example-section">
	<div class="u-wrapper">
		<div class="example-section">
			<h1 class="example-section__title u-title js-gsap-example-animation">You've successfully run Adchitects craft Starter Pack.</h1>
			<img class="js-lazy js-doge-img" data-src="{{ alias('@web/src/img/screenshot.jpg') }}" alt="I am lazyloaded image">
			<span class="example-section__subtitle"> ^^ Above you should see lazyloaded image ^^</span>
		</div>
	</div>
</section>
