<footer class="footer">
	<div class="u-wrapper">
		<div class="footer__main">
			<div class="footer__primary">
				<div class="footer__links-columns">
					<div class="footer__links-column">
						<span class="footer__links-column-title">Products</span>
						<ul class="footer__links">
							<li class="footer__link">Products Hub</li>
							<li class="footer__link">Chip</li>
							<li class="footer__link">Tag</li>
							<li class="footer__link">Cloud</li>
						</ul>
					</div>
					<div class="footer__links-column">
						<span class="footer__links-column-title">Solutions</span>
						<ul class="footer__links">
							<li class="footer__link">Products Hub</li>
							<li class="footer__link">Chip</li>
							<li class="footer__link">Tag</li>
							<li class="footer__link">Cloud</li>
						</ul>
					</div>
					<div class="footer__links-column">
						<span class="footer__links-column-title">Support</span>
						<ul class="footer__links">
							<li class="footer__link">Products Hub</li>
							<li class="footer__link">Chip</li>
						</ul>
					</div>
				</div>
				<img src="" class="footer__logo" alt="">
			</div>
			<div class="footer__secondary">
				<div class="footer__socials"></div>
				<div class="footer__additional-links"></div>
			</div>
		</div>
		<div class="footer__partners"></div>
	</div>
</footer>
