{% set title = entry.formTitle %}
{% set subtitle = entry.formSubtitle %}

<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--form">
	<div class="u-wrapper">
        {% if title %}
            <h2 class="form-title u-title u-title--section">{{ title }}</h2>
        {% endif %}
        {% if subtitle %}
            <p class="form-subtitle">{{ subtitle }}</p>
        {% endif %}
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
					<script
							src="https://code.jquery.com/jquery-3.6.0.min.js"
							integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
							crossorigin="anonymous">
					</script>
					<script>
						function handleState() {
							const fields = document.querySelectorAll('.field input');
							const selects = document.querySelectorAll('.hs-fieldtype-select select');
							if (fields && fields.length > 0) {
								fields.forEach(field => {
									field.addEventListener('input', () => {
										field.parentNode.parentNode.classList.add('is-active');
										if (!field.value) {
											field.parentNode.parentNode.classList.remove('is-active');
										}
									});
								});
							}
							if (selects && selects.length > 0) {
								selects.forEach(select => {
									select.addEventListener('change', () => {
										select.parentNode.parentNode.classList.add('is-active');
										handleState();
									});
								});
							}
						};
						hbspt.forms.create({
							region: "na1",
							portalId: "4249967",
							formId: "e307dd3c-3844-49e8-9433-dbf4f397dafe",
							onFormReady: function() {
								handleState();
							},
						});
					</script>
    </div>
</section>