<div class="menu-mobile js-menu-mobile-hld">
	<div class="menu-mobile__bar">
		<a href="{{ craft.app.sites.primarySite.baseUrl }}" class="menu-mobile__logo-hld">
			<img src="{{ alias('@web/src/img/svg/logo.svg') }}" width="100" height="40" alt="Wiliot logo">
		</a>
		<div class="menu-mobile__btn js-menu-mobile-btn">
			<div class="line line--1"></div>
			<div class="line line--2"></div>
			<div class="line line--3"></div>
		</div>
	</div>
</div>
