{% set id = entry.podcastsListingHeroVideoID %}
<section class="u-section u-section--podcasts-hero">
	<div class="video-wrapper">
		<iframe allow="autoplay" data-src="https://www.youtube.com/embed/{{id}}?rel=1&amp;autoplay=1&amp;mute=1&amp;loop=1&amp;playlist={{id}}&amp;showinfo=0&amp;wmode=transparent&amp;controls=0&amp;enablejsapi=1&amp;origin=https://www.wiliot.com" frameborder="0" width="640" height="360" class="youtube-video js-lazy"></iframe>
	</div>
</section>
