{% set privacyPostsContent = entry.privacyPostsContent %}
<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section u-section--privacy-content">
	<div class="u-wrapper u-wrapper--small">
		<div class="privacy-content">
			{{ privacyPostsContent }}
		</div>
	</div>
</section>
