<section {% if sectionId is defined %} id="{{ sectionId }}" {% endif %} class="u-section--latest-news u-section">
	<div class="u-wrapper">
		<div class="latest-news">
			<span class="u-subtitle u-subtitle--section latest-news__subtitle">News</span>
			<h2 class="u-title u-title--section latest-news__title">Our Latest</h2>
			{% set chosenEntries = entry.chosenEntries %}
			{% for post in chosenEntries %}
				{% set isPostNewsCategory = post.postMainCategory %}
				{% set isPostEventCategory = post.eventCategory %}
				{% set isPostPodcast = post.podcastDetailsID %}
				<div>
					{% if isPostNewsCategory %}
						{{ isPostNewsCategory.one().title }}
					{% endif %}
					{% if isPostEventCategory %}
						{{ isPostEventCategory.one().title }}
					{% endif %}
					{% if isPostPodcast %}
						{{ isPostPodcast }}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
