<div class="search-bar js-search-bar">
    <form class="search-form search-form--bar js-search-form-hld" action="{{ url('search') }}">
        <button class="search-form__button" type="submit">
            <span class="icon icon-search"></span>
        </button>
        <input class="search-form__bar js-search-form-input" type="search" name="q" aria-label="Search" placeholder="Search">
        <div class="search-form__close js-search-bar-close-button">
            <span class="icon icon-close"></span>
        </div>
        {# <a href="https://support.wiliot.com/hc/en-us/search?utf8=%E2%9C%93&query=cloud">KEK</a> #}
    </form>
</div>
