{% set title = entry.sliderTitle %}
{% set subtitle = entry.sliderSubtitle %}

<section class="u-section u-section--slider">
	<div class="u-wrapper">
        {% if subtitle %}
            <p class="slider-subtitle u-subtitle u-subtitle--section">{{ subtitle }}</p>
        {% endif %}
        {% if title %}
            <h2 class="slider-title u-title u-title--section">{{ title }}</h2>
        {% endif %}
    </div>
</section>