<div class="title">Keep up to date</div>
<div class="form-hld">
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
	<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous">
	</script>
	<script>
		function handleState() {
			const fields = document.querySelectorAll('.field input');
			const selects = document.querySelectorAll('.hs-fieldtype-select select');
			if (fields && fields.length > 0) {
				fields.forEach(field => {
					field.addEventListener('input', () => {
						field.parentNode.parentNode.classList.add('is-active');
						if (!field.value) {
							field.parentNode.parentNode.classList.remove('is-active');
						}
					});
				});
			}
			if (selects && selects.length > 0) {
				selects.forEach(select => {
					select.addEventListener('change', () => {
						select.parentNode.parentNode.classList.add('is-active');
						handleState();
					});
				});
			}
		};
		hbspt.forms.create({
			region: "na1", 
			portalId: "4249967", 
			formId: "4489b5f7-7a5f-4c05-9ae1-bee6e99a3ef5",
			onFormReady: function() {
				document.body.classList.add('is-subscribe-form');
				handleState();
			},
		});
	</script>
</div>
