<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/WebPage" lang="en">
	{% block head %}
		<head>
			<meta charset="UTF-8" />
			<meta name="robots" content="noindex" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta property="og:image" content="src/img/screenshot.jpg" />
			<meta property="og:title" content="Adchitects craft-starter-pack" /> 
			<meta property="og:description" content="Index description" /> 
			<meta property="og:type" content="website" /> 
			<meta property="og:url" content="Index url" /> 
			<link rel="icon" href="favicon.ico" type="image/x-icon" />
			<link rel="stylesheet" type="text/css" href="src/css/style.min.css" />
			<title>{% block title %}Adchitects craft-starter-pack {% endblock %}</title>
		</head>
	{% endblock %}
	<body>
		<header>
		</header>
		<main>
			{% block main %}
				{{ include('/sections/example.twig') }}
				{{ include('/sections/swiper-examples.twig') }}
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
				footer
			{% endblock %}
		</footer>
		<script src="src/js/main.min.js"></script>
	</body>
</html>
