*::selection {
	background-color: $c-black;
	color: $c-white;
}

body {
	position: relative;
	color: $c-black;
	font-family: $font-std;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 1;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	transition: opacity 0.2s;
	object-fit: cover;

	&.js-lazy {

		&:not(.loaded) {
			opacity: 0;
		}
	}
}

ul {
	list-style-type: none;
}
