// Sometimes we need a universal class that can be used in any component.
// Prefix utility classes with .u-
// From Trello CSS Guide

.u-section {
	position: relative;
	width: 100%;
	margin-top: 80px;
}

.u-wrapper {
	position: relative;
	max-width: 1360px;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;
}

.u-title {
	&--big {
		font-size: 56px;
		font-weight: 900;
		line-height: 72px;
	}

	&--section {
		font-size: 32px;
		font-weight: 900;
		line-height: 40px;
	}
}

.u-subtitle {
	&--big {
		font-size: 24px;
		font-weight: 500;
		line-height: 36px;
	}
}

.u-btn {
	display: inline-block;
	position: relative;
	border: 1px solid;
	outline: 0;

	&--arrow {
		.text {
			color: $c-accent;
			font-size: 16px;
			font-weight: 500;
			transition: color 0.2s;
		}
	}

	&--light {
		padding: 15px 60px;
		border-radius: 30px;
		background-color: $c-white;
		transition: background-color 0.2s;

		.text {
			color: $c-accent;
			font-size: 16px;
			font-weight: 500;
			transition: color 0.2s;
		}

		&:hover {
			background-color: $c-accent;

			.text {
				color: $c-white;
			}
		}
	}
}
