// Sometimes we need a universal class that can be used in any component.
// Prefix utility classes with .u-
// From Trello CSS Guide

.u-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	border: 0;
	overflow: hidden;
}

.u-demargin {
	& > * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.u-section {
	position: relative;
	width: 100%;
	margin-top: 130px;

	@include tablet-small-1023 {
		&.u-section {
			margin-top: 50px;
		}
	}

	@include mobile-767 {
		&.u-section {
			margin-top: 60px;
		}
	}
}

.u-wrapper {
	position: relative;
	max-width: 1115px;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;

	&--wide {
		max-width: 1380px;
	}

	&--medium-wide {
		max-width: 1340px;
	}

	&--events-listing {
		max-width: calc(1272px + 60px);
	}

	&--medium {
		max-width: 1240px;
	}

	&--medium-middle {
		max-width: 1186px;
	}

	&--medium-small {
		max-width: 960px;
	}

	&--small {
		max-width: 900px;
	}

	&--content {
		max-width: 684px;
	}
}

.u-title {
	font-weight: 900;

	&--big {
		font-size: 56px;
		line-height: 72px;

		@include mobile-767 {
			font-size: 46px;
			line-height: 52px;
		}

		@include mobile-599 {
			font-size: 28px;
			line-height: 36px;
		}
	}

	&--medium-big {
		font-size: 48px;
		line-height: 56px;
	}

	&--medium {
		font-size: 40px;
		line-height: 48px;
	}

	&--section {
		font-size: 32px;
		line-height: 40px;
	}

	&--centered {
		display: block;
		text-align: center;
	}
}

.u-subtitle {
	font-weight: 500;

	&--medium {
		font-size: 22px;
		line-height: 30px;

		@include mobile-599 {
			font-size: 20px;
			line-height: 20px;
		}
	}

	&--big {
		font-size: 24px;
		line-height: 36px;
	}

	&--section {
		margin-bottom: 16px;
		color: $c-gray;
		font-size: 14px;
		font-weight: 500;
		line-height: 19px;
		text-align: center;
		text-transform: uppercase;
	}

	&--centered {
		display: block;
		text-align: center;
	}
}

.u-content {
	@extend .u-demargin;

	color: rgba($c-black, 0.8);
	font-family: $font-std;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: normal;
	line-height: calc(26 / 16);

	p {
		& + p {
			margin-top: 1em;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0.5em;
		color: $c-black;
		font-weight: 900;
		line-height: 1.5;
	}

	h1,
	h2 {
		margin-top: 2.25em;
		font-size: 34px;
	}

	h3 {
		margin-top: 2.25em;
		font-size: 28px;
	}

	h4 {
		margin-top: 2em;
		font-size: 24px;
	}

	h5,
	h6 {
		margin-top: 2em;
		font-size: 20px;
	}

	a {
		color: $c-accent;
		transition: color 0.2s;

		&:hover {
			color: $c-accent-dark;
		}
	}

	ol {
		max-width: 624px;
		margin-top: 24px;
		margin-bottom: 24px;
		padding: 0 0 0 24px;
		list-style: none;
		counter-reset: list-counter;

		li {
			position: relative;
			counter-increment: list-counter;

			&:not(:first-child) {
				margin-top: 12px;
			}

			&::before {
				content: counter(list-counter) '.';
				position: absolute;
				top: 0;
				left: -24px;
				font-weight: 900;
			}
		}
	}

	b,
	strong {
		font-weight: 900;
	}

	&--centered {
		text-align: center;

		ul,
		ol {
			text-align: left;
		}
	}
}

.u-btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	border: 0;
	outline: 0;

	.text {
		color: $c-black;
		font-size: 16px;
		font-weight: 500;
		transition: color 0.2s;
	}

	&--accent {
		padding: 16px 40px 14px;
		border-radius: 30px;
		background-color: $c-accent;
		transition: background-color 0.2s, border-color 0.2s;

		.text {
			color: $c-white;
		}

		&:hover {
			background-color: darken($c-accent, 10%);
		}
	}

	&--arrow {
		border: 0;

		.text {
			@extend .icon-arrow-right !optional;

			position: relative;
			color: $c-accent;
			font-size: 16px;
			font-weight: 500;
			transition: color 0.2s;

			&::before {
				position: absolute;
				top: -6px;
				right: -22px;
				font-family: 'icomoon', sans-serif;
				font-size: 12px;
				transition: transform 0.2s;
			}
		}

		&.is-dark {
			.text {
				color: $c-black;
			}

			&:hover {
				.text {
					color: $c-black;
				}
			}
		}

		&.is-hovered,
		&:hover {
			.text {
				color: $c-accent;

				&::before {
					transform: translateX(2px);
				}
			}
		}
	}

	&--bordered {
		padding: 16px 40px 14px;
		border: 1px solid rgba($c-white, 0.6);
		border-radius: 30px;
		background-color: transparent;
		transition: background-color 0.2s, border-color 0.2s;

		.text {
			color: $c-white;
		}

		&.is-hovered,
		&:hover {
			border-color: $c-accent;
			background-color: $c-accent;
		}
	}

	&--light {
		padding: 16px 75px 14px;
		border: 1px solid rgba($c-black, 0.6);
		border-radius: 30px;
		background-color: transparent;
		transition: background-color 0.2s, border-color 0.2s;

		&.is-narrow {
			padding-right: 40px;
			padding-left: 40px;
		}

		&.is-hovered,
		&:hover {
			border-color: $c-accent;
			background-color: $c-accent;

			.text {
				color: $c-white;
			}
		}
	}

	&--white {
		padding: 16px 70px 14px;
		border: 0;
		border-radius: 30px;
		background-color: $c-white;
		transition: background-color 0.2s;

		.text {
			color: $c-accent;
		}

		&.is-hovered,
		&:hover {
			background-color: $c-accent;

			.text {
				color: $c-white;
			}
		}
	}

	&--disabled {
		pointer-events: none;
		padding: 16px 40px 14px;
		border: 0;
		border-radius: 30px;
		background-color: #eeeef2;
		transition: background-color 0.2s;

		.text {
			color: $c-black;
		}
	}

	&--transparent {
		padding: 16px 54px 14px;
		border: 0;
		border-radius: 28px;
		background-color: transparent;
		transition: background-color 0.2s;

		.text {
			color: $c-accent;
		}

		&.is-hovered,
		&:hover {
			background-color: $c-accent;

			.text {
				color: $c-white;
			}
		}
	}
}

.u-center {
	justify-content: center;
	text-align: center;
}

.u-highlight {
	position: relative;
	color: $c-accent;
	font-weight: 500;
	white-space: nowrap;

	&::before {
		content: '';
		position: absolute;
		top: -8px;
		right: -4px;
		bottom: -2px;
		left: -4px;
		z-index: -1;
		pointer-events: none;
		background-color: #F5F6FD;
	}
}

.u-mb-32 {
	margin-bottom: 32px;
}

.u-mb-24 {
	margin-bottom: 24px;
}

.u-mb-16 {
	margin-bottom: 16px;
}

.u-hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}

@include tablet-small {

	.u-content {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 1.25em;
		}
	}
}
