// FONTS (@font-faces are in <style> of index.twig 
$font-head: 'avenir', arial;
$font-std: $font-head;

// COLORS
$c-white: #FFFFFF;
$c-black: #000000;
$c-accent: #27BCBC;
$c-accent-dark: #017777;
$c-accent-light: #44F3F3;
$c-border: #DDDDDD;
$c-light: #F5F8FC;
$c-gray: #A7A7AC;
$c-orange: #FF6C00;
$c-green: #5CE3B3;
$c-yellow: #FFF200;
