// FONTS (@font-faces are in <style> of index.twig
$font-head: 'avenir', arial;
$font-std: $font-head;

// COLORS
$c-white: #ffffff;
$c-black: #000000;
$c-accent: #27bcbc;
$c-accent-dark: #017777;
$c-border: #dddddd;
$c-light: #f5f8fc;
$c-gray: #a7a7ac;
$c-orange: #ff6c00;
$c-green: #5ce3b3;
$c-yellow: #fff200;
$c-blue-green: #86ffd2;
$c-blue-light-green: #d0fef5;
$c-blue-lighter-green: #edfbf8;
$c-accent-light: #44f3f3;

// OTHER
$box-shadow: 0 0 10px 0 rgba(134, 134, 183, 0.15);
