// FONTS
@font-face {
	font-family: 'presicav';
	src: url('https://use.typekit.net/af/462ab8/00000000000000003b9afe26/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff2'),
		url('https://use.typekit.net/af/462ab8/00000000000000003b9afe26/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff'),
		url('https://use.typekit.net/af/462ab8/00000000000000003b9afe26/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('opentype');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'presicav';
	src: url('https://use.typekit.net/af/c72b0d/00000000000000003b9afe27/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff2'),
		url('https://use.typekit.net/af/c72b0d/00000000000000003b9afe27/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('woff'),
		url('https://use.typekit.net/af/c72b0d/00000000000000003b9afe27/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3') format('opentype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

$font-head: 'presicav', serif;
$font-std: sans-serif;

// COLORS
$c-white: #FFFFFF;
$c-black: #000000;
$c-accent: mediumspringgreen;
