form {
    font-family: "avenir", arial;
}

.applyButton {
    margin-top: 33px;
    color: #000;
    line-height: 26px;
    padding: 15px;
    border: 1px solid rgba(38, 40, 50, 0.6);
    border-radius: 999px;
    background: transparent!important;
    transition: all 0.2s;
    text-transform: none;
}

.applyButton:hover, .applyButton:focus, .applyButton:active {
    color: #fff;
    background: #27bcbc!important;
    border-color: transparent!important;
}

.error{
    color: #ff6c00!important;
}

.suggestEmployee {
	display: none !important;
}
